<!-- begin #content -->
<div id="content" class="content fondo d-flex justify-content-center align-items-center"
  style="height: 100% !Important">
  <!-- <div class="col-md-12">
    <div class="row"> -->
  <!-- begin col-2 -->
  <!-- end col-2 -->
  <!-- begin col-10 -->
  <!-- <div style="width: 100%; height: 100% ;font-size: 3.5rem" class="d-flex justify-content-center align-items-center"> -->
  <!-- <p>
      FACTO<sup> &reg; </sup> VALID
    </p> -->
  <!-- <img src="./assets/img/logo/inicio.png" width=30%; alt=""> -->
  <!-- </div> -->
  <!-- </div>
  </div> -->
  <img src="./../../../assets/img/logo/bg.jpg" alt="Bienvenido" width="100%">
</div>
<app-modal-pp></app-modal-pp>