#button {
  border: none;
  background: none;
}
#fas {
  font-size: 25px;
 }

/* .posicionar-boton {
  position: absolute;
  right: 5px;
  z-index: 10;
} */

/* .body_contenido {
  float:right;
  left: -100px;
  max-width: 250px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 285px;
  padding: 0.5em;
  z-index: 100;
} */
