<div class="row">
    <!-- <div class="col-md-2" style="padding-bottom: 2em;">
        <a id="agregarParametrosSistema" routerLink="/home/parametros_sistema/add" class="btn btn-primary"
            *ngIf="globals.menuDinamico.administracion_Parametros_Sistema_Add">Agregar Parametros</a>
    </div> -->
    <div *ngIf="globals.menuDinamico.admin_next" class="form-group col-md-4">
        <select2 [data]="globals.lista_corporativos" [options]="{placeholder: 'Seleccione un corporativo'}"
            (valueChanged)="actualizaCorporativo($event)" id="selec2_corporativo"> </select2>
    </div>
    <!--
    <div *ngIf="showCorporativos" class="col-md-4">
        <select #select name="corpotativo" class="form-control" required (change)="ActualizaLista(select.value)"
            id="selectCorporativo">
            <option value="0">Seleccione un Corporativo</option>
            <option value="0">ADMINISTRADORES NEXT</option>
            <option *ngFor="let item of listaCorporativos;" [value]="item.id"> {{item.nombre}} </option>
        </select>
    </div> -->

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Lista - Parámetros de Sistema</h4>
            </div>
            <div class="panel-body  table-responsive">
                <table id="tabla_parametros"
                    class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody"
                    width="100%" style="max-width:
                  100%; ">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Llave</th>
                            <th>Valor</th>
                            <th class="text-nowrap">Estatus</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeU" *ngFor="let item of lista_parametros"
                            [ngClass]="{'text-danger':item.activo == '0'}">
                            <td>{{item.codigo}}</td>
                            <td>{{item.llave}}</td>
                            <td>{{item.valor}}</td>
                            <td>{{item.activo == 1 ? 'Activo' : 'Inactivo'}}</td>
                            <td>
                                <a class="btn btn-primary text-white editar-parametros-sistema"
                                    (click)="editarParametros(item.id)"
                                    *ngIf="globals.menuDinamico.administracion_Parametros_Sistema_Edit">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-10 -->
</div>
<!-- end row -->