<app-filtro-comprobacion-gv (filtrar)="filtrar($event)"></app-filtro-comprobacion-gv>
<div class="row">
  <div class="col-md-2">
    <a id="agregarSolicitudAnticipo" *ngIf="globals.menuDinamico.comprobacion_Gastos_Viaje_Add "
      routerLink="/home/gastos_viaje/comprobacion/add" class="btn btn-primary mb-2">
      Comprobar</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista de Comprobaciones</h4>
      </div>
      <div class="panel-body  table-responsive">
        <table #datatableElement id="tabla_comprobaciones" datatable [dtOptions]="globals.dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody">
          <caption></caption>
          <thead>
            <tr>
              <th scope="">Usuario</th>
              <th scope="">Folio Comprobación</th>
              <th scope="">Descripción</th>
              <th scope="">Fecha Creación</th>
              <th scope="">Motivo</th>
              <th scope="">Monto Reembolsar</th>
              <th scope="">Moneda</th>
              <th scope="">Centro Costo</th>
              <th scope="">Compañia</th>
              <th scope="">Usuario Aprobador</th>
            </tr>
          </thead>

          <tbody>
            <tr class="gradeU" *ngFor="let item of lista_comprobantes">
              <td>{{ item.descripcion}}</td>
              <td>{{ item.fecha_creacion}}</td>
              <td>{{ item.folio_comprobacion}}</td>
              <td>{{ item.monto_reembolsar}}</td>
              <td>{{ item.motivo}}</td>
              <td>{{ item.nombre_cc}}</td>
              <td>{{ item.nombre_compania}}</td>
              <td>{{ item.nombre_moneda}}</td>
              <td>{{ item.nombre_usuario}}</td>
              <td>{{ item.nombre_usuario_aprobador}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
