<div class="row">

  <div *ngIf="globals.menuDinamico.admin_next" class="form-group col-md-4 ">
    <select2 [data]="globals.lista_corporativos" [options]="{placeholder: 'Seleccione un corporativo'}"
      (valueChanged)="ActualizaCorporativo($event)" id="selec2_corporativo"> </select2>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista - Orden Compra</h4>
      </div>

      <div class="panel-body table-responsive">
        <table id="tabla_ordenes_compra" datatable [dtOptions]="dtOptions"
          class="row-border hover table table-striped table-bordered table-hover">
          <!-- <thead>
            <tr>
              <th>Número Orden</th>
              <th>Fecha</th>
              <th>Número proveedor</th>
              <th>Contribuyente</th>
              <th>Sucursal</th>
              <th>Tipo Documento</th>
              <th>Moneda</th>
              <th>Total</th>
              <th>Completado</th>
              <th>Detalle</th>
              <th>Documentos Relacionados</th>
              <th>Cargar Factura</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeU" *ngFor="let orden_compra of lista_ordenes_compra"
              [ngClass]="{ 'text-danger': orden_compra.estatus == 0 }">

              <td>{{ orden_compra.numero_orden }}</td>
              <td style="white-space: nowrap;">{{ orden_compra.fecha_orden | date: 'yyyy-MM-dd' }}</td>
              <td>{{ orden_compra.num_proveedor }}</td>
              <td>{{ orden_compra.contribuyente }}</td>
              <td>{{ orden_compra.sucursal }}</td>
              <td>{{ orden_compra.tipo_documento }}</td>
              <td>{{ orden_compra.moneda }}</td>
              <td style="text-align:right !important;">{{ orden_compra.total | currency : '$' }}</td>
              <td>{{ orden_compra.completado == 1 ? 'Si' : 'No' }}</td>
              <td style="text-align:center !important"> <button
                  (click)="mostrarDetalles($event, orden_compra.numero_orden)" class="btn btn-primary"
                  [innerHTML]="txtDetalle"></button> </td>
              <td style="text-align:center !important"> <button
                  (click)="mostrarDocsRelacioandos($event, orden_compra.numero_orden)" class="btn btn-primary"
                  [innerHTML]="txtDocsRel"></button> </td>
              <td style="text-align:center !important">
                <button
                  *ngIf="datos_iniciales.usuario.fecha_cierre == 1 || globals.menuDinamico.documentos_Carga_Facturas_oc"
                  [routerLink]="[ '/home/carga_documentos/oc/', orden_compra.numero_orden  ]" class="btn btn-primary"><i
                    class="fas fa-upload"></i>
                </button>
              </td>
            </tr>
          </tbody> -->
        </table>
      </div>

    </div>

  </div>
  <div>
    <app-modal-detalle-oc-mx [orden_oc]="documento.orden_compra"></app-modal-detalle-oc-mx>
    <app-modal-docs-relacionados [docs_relacionados]="docs_relacionados"></app-modal-docs-relacionados>
  </div>
</div>
