<div class="modal fade" id="complementeto_detalle" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="complementeto_detalleTitle">Documentos Realcionados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div style="max-height: 500px; overflow-y: auto; ">
        <div class="modal-body">
          <h4> Documento Relacionado</h4>
          <div style="max-width: 100%; overflow-x: auto">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Folio Fiscal</th>
                  <th scope="col">Tipo Relación</th>
                  <th scope="col">Relación</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngIf="documentos_relacionados && documentos_relacionados.length > 0 ; else sinRelacionados">
                  <tr *ngFor="let relacionado of documentos_relacionados">
                    <td> {{ relacionado.folio_fiscal }} </td>
                    <td> {{ relacionado.tipo_relacion }} </td>
                    <td> {{ relacionado.relacion }} </td>
                    <td> {{ relacionado.subtotal | currency : '$' }} </td>
                    <td> {{ relacionado.total_factura | currency : '$' }} </td>
                  </tr>
                </ng-container>
                <ng-template #sinRelacionados>
                  <tr>
                    <td colspan=5 class="text-center">
                      Sin Documentos Relacionados.
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
          <ng-container *ngIf="complementos_pago">
            <h4>Complemento de Pago</h4>
            <hr>
            <p *ngIf="complementos_pago.folio_fiscal ">
              Folio Fiscal: {{ complementos_pago.folio_fiscal }}
            </p>
            <p *ngIf="complementos_pago.monto !== 0">
              Subtotal: {{ complementos_pago.monto | currency: '$' }} {{ complementos_pago.moneda }}
            </p>
            <p *ngIf="complementos_pago.forma_Pago">
              Forma de Pago: {{ complementos_pago.forma_Pago }}
            </p>
            <p *ngIf="complementos_pago.fecha_pago !== '0001-01-01T00:00:00'">
              Fecha de Pago: {{ complementos_pago.fecha_pago }}
            </p>
          </ng-container>
          <div style="max-width: 100%; overflow-x: auto">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Folio Fiscal</th>
                  <th scope="col">Método de Pago</th>
                  <th scope="col">Número de Parcialidad</th>
                  <th scope="col">Saldo Anterior</th>
                  <th scope="col">Pagado</th>
                  <th scope="col">Insoluto</th>
                </tr>
              </thead>
              <tbody>

                <ng-container
                  *ngIf="complementos_pago && complementos_pago.detalles && complementos_pago.detalles.length > 0; else sinDocumentos">
                  <tr *ngFor="let complemento of complementos_pago.detalles">
                    <td> {{ complemento.folio_fiscal }} </td>
                    <td> {{ complemento.metodo_pago }} </td>
                    <td> {{ complemento.num_parcialidad }} </td>
                    <td> {{ complemento.imp_saldo_ant | currency: '$' }} </td>
                    <td> {{ complemento.imp_pagado | currency: '$' }} </td>
                    <td> {{ complemento.imp_saldo_insoluto | currency: '$' }} </td>
                  </tr>
                </ng-container>
                <ng-template #sinDocumentos>
                  <tr>
                    <td class="text-center" colspan=6>
                      Sin complementos de pago.
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>