<!-- Modal Impuestos -->
<app-modal-impuestos></app-modal-impuestos>
<!-- Modal Detalle -->
<app-modal-detalle-factura></app-modal-detalle-factura>
<!-- Modal Adicionales  -->
<app-modal-adicional></app-modal-adicional>

<!-- Tabla dinámica -->

<form [formGroup]="formulario_row" *ngIf="!concepto" autocomplete="off" class="mt-2">
  <div class="table-responsive">
    <table class="table mb-2">
      <caption style="display: none;"></caption>
      <thead>
        <tr>
          <th scope="col" style="width: 150px;">Descripción <span class="text-danger">*</span> </th>
          <th scope="col">Unidad <span class="text-danger">*</span></th>
          <th scope="col">Valor Unitario <span class="text-danger">*</span></th>
          <th style="width: 90px;" scope="col">Cantidad <span class="text-danger">*</span></th>
          <th style="width: 150px;" scope="col">Importe</th>
          <th scope="col">Moneda</th>
          <th style="width: 250px;" scope="col">Concepto<span class="text-danger">*</span></th>
          <th *ngIf="requerir_numero_dias" style="width: 250px;" scope="col">Número Dias<span
              class="text-danger">*</span></th>
          <th style="width: 120px;" scope="col">Monto a Reembolsar<span class="text-danger">*</span></th>
          <!-- <th style="width: 150px;" scope="col">Observación <span class="text-danger">*</span></th> -->
          <th scope="col">Comprobante Fiscal</th>
          <th scope="col">Impuestos</th>
          <th scope="col">Anexos</th>
          <th scope="col">Aplica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="">
            <input formControlName="concepto" type="text" name="concepto" maxlength="250" class="form-control w-100">
          </th>
          <th scope="">
            <input formControlName="unidad" type="text" name="unidad" maxlength="50" class="form-control">
          </th>
          <th class="text-right" scope="">
            <input currencyMask [options]="{ thousands: ',', decimal: '.' }" (keyup)="calcularImporte()"
              formControlName="valorUnitario" type="text" name="valorUnitario" maxlength="20" class="form-control"
              style="width: 100px !important;">
          </th>
          <th scope="" class="text-center">
            <input appNumbersOnly formControlName="cantidad" (keyup)="calcularImporte()" type="text" name="cantidad"
              maxlength="10" class="form-control">
          </th>
          <th class="text-right" scope="">
            <input currencyMask [options]="{ thousands: ',', decimal: '.' }" formControlName="importe" type="text"
              name="importe" maxlength="20" class="form-control" disabled style="width: 70px !important;">
          </th>
          <th class="text-right" scope="">
            <select2 [data]="lista_monedas" [options]="{placeholder: 'Seleccione Moneda... '}" [value]="1"
              (valueChanged)="onMonedaChange($event)" name="moneda" id="moneda" [disabled]="concepto? true : false">
            </select2>
          </th>
          <th scope="">
            <select2 [data]="lista_cuentas" [options]="{placeholder: 'Seleccione Concepto... '}"
              [value]="cuenta_seleccionada" (valueChanged)="onChangeConcepto($event)" name="concepto" id="concepto"
              [disabled]="concepto? true : false">
            </select2>
          </th>
          <th *ngIf="requerir_numero_dias" class="text-right" scope="">
            <input formControlName="numero_dias" type="text" name="numero_dias" maxlength="3" class="form-control"
              style="width: 100px !important;" placeholder="Númnero de Dias">
          </th>
          <th class="text-right" scope="">
            <input currencyMask [options]="{ thousands: ',', decimal: '.' }" formControlName="monto_rembolsar"
              type="text" name="linea_detalle" maxlength="20" class="form-control" style="width: 100px !important;"
              (keyup)="cambiarEstatusTotalModificado()">
          </th>
          <!-- <th class="text-right" scope="">
            <textarea class="form-control" id="exampleFormControlTextarea1" row="1" maxlength="500" name="linea_detalle"
              formControlName="observacion" style="width: 150px !important; max-height: 250px !important;"></textarea>
          </th> -->
          <th class="text-center" scope="">
            <input type="checkbox" class="mx-auto" formControlName="comprobante_fiscal">
          </th>
          <th class="text-center" scope="">
            <button class="btn btn-primary btn-sm" (click)="modal('impuestos')">
              <em class="fa fa-percent"></em>
            </button>
          </th>
          <th class="text-center" scope="">
            <button class="btn btn-primary btn-sm" (click)="modal('detalle')">
              <em class="fa fa-file"></em>
            </button>
          </th>
          <th class="text-center" scope="">
            <input type="checkbox" class="mx-auto" checked formControlName="aplica"
              (change)="onChangeAplica( $event.target)">
          </th>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-2 mb-2" *ngIf="!concepto">
    <div class="col text-right">
      <button class="btn btn-danger mr-2 " (click)="onCancelarConceptos()"> Cancelar</button>
      <button [disabled]="!formulario_row.valid" class="btn btn-primary" (click)="submitFormulario()">
        Agregar Concepto </button>
    </div>
  </div>
</form>
