<!-- Modal Impuestos -->
<app-modal-impuestos></app-modal-impuestos>
<!-- Modal Detalle -->
<app-modal-detalle-factura></app-modal-detalle-factura>
<!-- Modal Adicionales  -->
<app-modal-adicional></app-modal-adicional>

<!-- Tabla dinámica -->
<form [formGroup]="formulario_row" *ngIf="!concepto">
  <div class="table-responsive">
    <table class="table">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col">Unidad</th>
          <th scope="col">Valor Unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Importe</th>
          <th style="width: 250px;" scope="col">Concepto</th>
          <th scope="col">Monto a Reembolsar</th>
          <th scope="col">Impuestos</th>
          <th scope="col">Anexos</th>
          <th scope="col">Adicional</th>
          <th scope="col">No Aplica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="">
            <input formControlName="descripcion" type="text" name="descripcion" maxlength="250" class="form-control">
          </th>
          <th scope="">
            <input formControlName="unidad" type="text" name="unidad" maxlength="250" class="form-control">
          </th>
          <th class="text-right" scope="">
            <input currencyMask [options]="{ thousands: ',', decimal: '.' }" (keyup)="calcularImporte()"
              formControlName="valorUnitario" type="text" name="valorUnitario" maxlength="250" class="form-control">
          </th>
          <th scope="" class="text-center">
            <input appNumbersOnly formControlName="cantidad" (keyup)="calcularImporte()" type="text" name="cantidad"
              maxlength="250" class="form-control">
          </th>
          <th class="text-right" scope="">
            <input currencyMask [options]="{ thousands: ',', decimal: '.' }" formControlName="importe" type="text"
              name="importe" maxlength="250" class="form-control" readonly>
          </th>
          <th scope="">
            <select2 [data]="lista_cuentas" [options]="{placeholder: 'Seleccione Concepto... '}"
              [value]="concepto? concepto.cuenta :''" (valueChanged)="onChangeConcepto($event)" name="concepto"
              id="concepto" [disabled]="concepto? true : false">
            </select2>
          </th>
          <th class="text-right" scope="">
            <input currencyMask [options]="{ thousands: ',', decimal: '.' }" formControlName="montoRembolsar"
              type="text" name="linea_detalle" maxlength="250" class="form-control">
          </th>
          <th class="text-center" scope="">
            <button class="btn btn-primary">
              <em class="fa fa-percent" (click)="modal('impuestos')">

              </em>
            </button>
          </th>
          <th class="text-center" scope="">
            <button class="btn btn-primary">
              <em class="fa fa-file" (click)="modal('detalle')">

              </em>
            </button>
          </th>
          <th class="text-center" scope="">
            <button class="btn btn-primary">
              <em class="fa fa-file-archive" (click)="modal('adicionales')">

              </em>
            </button>
          </th>
          <th class="text-center" scope="">
            <input type="checkbox" class="mx-auto" formControlName="aplica">
          </th>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-2 mb-2" *ngIf="!concepto">
    <div class="col text-right">
      <button class="btn btn-danger mr-2 " (click)="onCancelar.emit()"> Cancelar</button>
      <button [disabled]="!formulario_row.valid" class="btn btn-primary" (click)="submitFormulario()">
        Agregar </button>
    </div>
  </div>
</form>
