<!-- begin #content -->
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item">
      <a routerLink="/home/inicio">Roles y Usuarios</a>
    </li>
    <li class="breadcrumb-item active">Funcionalidades</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Funcionalidades
  </h1>
  <!-- end page-header -->

  <div class="col-md-12">
    <router-outlet></router-outlet>

  </div>

</div>
<!-- end #content -->