<div class="row" *ngIf="mostrar_boton">
  <div class="col-md-2" style="padding-bottom: 2em;">
    <a id="btn_agregar_proveedor_informal" routerLink="/home/proveedores_informales/add" class="btn btn-primary">Nueva
      Factura</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista de Facturas</h4>
      </div>
      <div class="panel-body table-responsive">
        <table id="tabla_acreedores_diversos" datatable [dtOptions]="dtOptions"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody">
          <caption></caption>
          <thead>
            <tr>
              <th scope="" class="align-middle">Contribuyente</th>
              <th scope="" class="align-middle">Sucursal</th>
              <th scope="" class="align-middle">Usuario Acreedor</th>
              <th scope="" class="align-middle">Orden de Compra</th>
              <th scope="" class="align-middle">Estatus Contabilización</th>
              <th scope="" class="align-middle">Folio Fiscal</th>
              <th scope="" class="align-middle text-center">Estatus Aprobación </th>
              <th scope="" class="align-middle">Fecha Contabilización</th>
              <th scope="" class="align-middle">Fecha Creación</th>
              <th scope="" class="align-middle">Tipo de Documento</th>
              <th scope="" class="align-middle">Detalles</th>
              <th scope="" *ngIf="usuario.acreedor"> Cargar NC </th>
              <th scope="" *ngIf="usuario.aprobador"> Aprobación </th>
              <th scope=""> Validación </th>
            </tr>
          </thead>
          <tbody>

            <!--  [ngClass]="{ 'text-danger': item.activo == '0' }"  -->
            <tr class="gradeU" *ngFor="let item of lista_facturas_proveedor">

              <td> {{ item.empresa }} </td>
              <td> {{ item.hotel }} </td>
              <td> {{ item.usuario_acreedor }} </td>
              <td> {{ item.descripcion }} </td>
              <td> {{ item.estatus_sap_descripcion }} </td>
              <td> {{ item.folio_fiscal }} </td>
              <td>
                <div>
                  {{ item.estatus_descripcion }}
                </div>
                <div>
                  <span class="btn badge badge-success"
                    (click)="verDetallesAprobacion($event.target,  item.id )">Detalles
                  </span>
                  <!-- <span class="btn badge badge-success">Detalles</span> -->
                </div>
              </td>
              <td> {{ item.fecha_contabilizacion | date:'yyyy-MM-dd' }} </td>
              <td> {{ item.fecha_creacion | date:'yyyy-MM-dd' }} </td>
              <td> {{ item.folio_sap }} </td>
              <td class="align-middle">
                <button class="btn btn-primary" (click)="verDetalles($event.target, item.id)"> Ver </button>
              </td>
              <td *ngIf="usuario.acreedor && item.folio_sap !== '' ">
                <!-- <button class="btn btn-primary ml-2" (click)="cargarNC(item.id)"><i class="fas fa-file-upload"></i>
                </button> -->
                <button class="btn btn-primary ml-2"><i class="fas fa-file-upload"></i>
                </button>
              </td>
              <td class="no-wraptext" *ngIf="usuario.aprobador">
                <ng-container *ngIf="true">
                  <button #button_aprobar *ngIf="item.aprobacion == 1"
                    (click)="aprobar(button_aprobar, item.id, item.documento_id)" class="btn btn-info ml-2"><i
                      class="far fa-check-circle"></i>
                  </button>
                  <!-- <button *ngIf="item.aprobacion == 1" class="btn btn-info ml-2">
                    <i class="far fa-check-circle"></i>
                  </button> -->
                  <button *ngIf="item.aprobacion == 1" class="btn btn-danger ml-2" (click)="rechazar(item.id)"> <i
                      class="fas fa-ban"></i>
                  </button>
                  <!-- <button *ngIf="item.aprobacion == 1" class="btn btn-danger ml-2">
                    <i class="fas fa-ban"></i>
                  </button> -->
                </ng-container>
              </td>
              <td>
                <!-- <button class="btn ml-2" (click)="reprocesar(item.documento_id)"> <i class="fas fa-file mr-1"></i>
                                  validación
                                </button> -->
                <button class="btn ml-2"> <i class="fas fa-file mr-1"></i>
                  validación
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-modal-detalles-aprobacion *ngIf="lista_detalle_aprobacion" [detalleAprobacion]="lista_detalle_aprobacion">
</app-modal-detalles-aprobacion>
<app-modal-detalle-factura-proveedor *ngIf="detalle_factura_proveedor" [data]="detalle_factura_proveedor">
</app-modal-detalle-factura-proveedor>

<!-- <app-modal-detalles-amortizacion [data]="detalles" [detalleAprobacion]="lista_detalle_aprobacion">
</app-modal-detalles-amortizacion> -->
