<div class="modal fade bd-example-modal-lg" id="modalVisorFactura" tabindex="-1" role="dialog"
  aria-labelledby="modalVisorFacturaTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Detalles </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-2">
        <div *ngIf="!factura">
          Cargando...
        </div>
        <div class="container-fluid">
          <div *ngIf="factura && objectLength(factura) !== 0" id="header_factura">
            <div class="row">
            </div>
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5>Encabezado</h5>
                <hr>
              </div>
              <label class="col-3 my-1" *ngIf="CFDI && factura.fecha"> Fecha: <br> <small>
                  {{factura.fecha}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.folio"> Folio: <br> <small>
                  {{factura.folio}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI"> Forma de Pago: <br> <small>
                  {{factura.formaDago}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.lugarExpedicion"> Lugar Expedición:
                <br> <small> {{factura.lugarExpedicion}}
                </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.metodoDago"> Método de Pago:
                <br> <small>
                  {{factura.metodoDago}}
                </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.moneda"> Moneda: <br> <small>
                  {{factura.moneda}} </small>
              </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.tipoCambio"> Tipo de Cambio:
                <br> <small>
                  {{factura.tipoCambio}}
                </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI"> No. Certificado: <br> <small>
                  {{factura.noCertificado}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.serie"> Serie: <br> <small>
                  {{factura.serie}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI"> Tipo de Comprobante: <br> <small>
                  {{factura.tipoComprobante}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.subTotal"> Subtotal: <br>
                <p class="text-primary">
                  {{factura.subTotal | currency:'$'}} </p>
              </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.total"> Total: <br>
                <p class="text-success">
                  {{factura.total | currency:'$'}} </p>
              </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.descuento"> Descuento: <br> <small>
                  {{factura.descuento | currency:'$'}} </small>
              </label>
              <label class="col-3 my-1" *ngIf="CFDI"> Condiciones de Pago: <br> <small>
                  {{factura.condicionesDePago}} </small> </label>
              <label class="col-3 my-1" *ngIf="CFDI && factura.version"> Version: <br> <small>
                  {{factura.version}} </small>
              </label>
            </div>
          </div>
          <div *ngIf="factura && factura.fiscal && objectLength(factura.fiscal) !== 0" id="fiscal">
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5>Fiscal</h5>
                <hr>
              </div>
              <label class="col-3 my-1">
                Fecha de Timbrado <br> <small> {{ factura.fiscal.fechaTimbrado }} </small>
              </label>
              <label class="col-3 my-1">
                No. de Certificado SAT <br> <small> {{ factura.fiscal.noCertificadoSat }} </small>
              </label>
              <label class="col-3 my-1">
                RFC Prov Certif <br> <small> {{ factura.fiscal.rfcDrovCertif }} </small>
              </label>
              <label class="col-3 my-1">
                UUID <br> <small> {{ factura.fiscal.uuid }} </small>
              </label>
            </div>
          </div>

          <div *ngIf="factura && factura.emisor && objectLength(factura.emisor) !== 0 " id="emisor">
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5> Emisor </h5>
                <hr>
              </div>
              <label class=" col-3 my-1" *ngIf="CFDI"> Nombre: <br> <small> {{factura.emisor.nombre}} </small>
              </label>
              <label class=" col-3 my-1" *ngIf="CFDI"> RFC: <br> <small> {{factura.emisor.rfc}} </small>
              </label>
              <label class=" col-3 my-1" *ngIf="CFDI"> Regimen Fiscal: <br> <small>
                  {{factura.emisor.regimenFiscal}}
                </small> </label>
            </div>
          </div>
          <div *ngIf="factura && factura.receptor && objectLength(factura.receptor) !== 0" id="receptor">
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5> Receptor </h5>
                <hr>
              </div>
              <label class="col-3 my-1" *ngIf="CFDI"> Nombre: <br> <small> {{factura.receptor.nombre}} </small>
              </label>
              <label class="col-3 my-1" *ngIf="CFDI"> RFC: <br> <small> {{factura.receptor.rfc}} </small>
              </label>
              <label class="col-3 my-1" *ngIf="CFDI"> Uso CFDI: <br> <small> {{factura.receptor.usoCFDI}}
                </small>
              </label>
            </div>
          </div>
          <div *ngIf="factura && factura.complementos && objectLength(factura.complementos) !== 0" id="complementos">
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5>
                  complementos
                </h5>
                <hr>
              </div>
              <label class='col-3 my-1' *ngIf="CFDI"> Versión: <br> <small> {{factura.complementos.version}}
                </small>
              </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Fecha Pago: <br> <small>
                  {{factura.complementos.fechaDago}}
                </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Forma Pago: <br> <small>
                  {{factura.complementos.formaDagop}}
                </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Moneda: <br> <small> {{factura.complementos.monedap}}
                </small>
              </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Tipo Cambio: <br> <small>
                  {{factura.complementos.tipoCambioD}}
                </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Monto: <br> <small> {{factura.complementos.monto}}
                </small>
              </label>
              <label class='col-3 my-1' *ngIf="CFDI"> RFC Emisor <br> <small>
                  {{factura.complementos.rfcEmisorCtaOrd}}
                </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Nombre Banco <br> <small>
                  {{factura.complementos.nomBancoOrdExt}}
                </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Cuenta Ordenante <br> <small>
                  {{factura.complementos.ctaOrdenante}}
                </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> RFC EmisorCtaben <br> <small>
                  {{factura.complementos.rfcEmisorCtaben}} </small> </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Cuenta Beneficiario <br> <small>
                  {{factura.complementos.ctaBeneficiario}} </small> </label>
            </div>
          </div>
          <div *ngIf="factura && factura.complementos && factura.complementos.doctorelacionado" id="doctorelacionado">
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5>
                  Documentos Relacionados
                </h5>
                <hr>
              </div>
              <div class="col-12">
                <table class="table" aria-describedby
                  *ngIf="factura.complementos.doctorelacionado && factura.complementos.doctorelacionado">
                  <thead>
                    <tr>
                      <th scope="pagado"> Importe Pagado </th>
                      <th scope="salto a"> Importe Saldo Anterior </th>
                      <th scope="saldo i"> Importe Saldo Insoluto </th>
                      <th scope="metodo"> Método Pago </th>
                      <th scope="tipo"> Tipo Cambio </th>
                      <th scope="moneda"> Moneda </th>
                      <th scope="parcial"> No. Parcialidad </th>
                      <th scope="serie"> Serie </th>
                      <th scope="folio"> Folio </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of factura.complementos.doctorelacionado">
                      <td> {{item.importePagado}} </td>
                      <td> {{item.importeSaldoAnt}} </td>
                      <td> {{item.importeSaldoInsol}} </td>
                      <td> {{item.metodoPagoDr}} </td>
                      <td> {{item.tipoCambioDr}} </td>
                      <td> {{item.monedaDr}} </td>
                      <td> {{item.numParcialidad}} </td>
                      <td> {{item.serie}} </td>
                      <td> {{item.folio}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div *ngIf="factura && factura.conceptos && factura.conceptos.length > 0" id="conceptos">
            <div class="row card sombreado p-3 overflow-auto overflow-auto">
              <div class="col-12 mt-2">
                <h5>
                  Conceptos
                </h5>
                <hr>
              </div>
              <div class="col-12">
                <table class="table" *ngIf="factura.conceptos && factura.conceptos" aria-describedby="tabla">
                  <thead>
                    <tr>

                      <th scope="Valor"> Valor Unitario </th>
                      <th scope="Unidad"> Unidad </th>
                      <th scope="Importe"> Importe </th>
                      <th scope="Descripción"> Descripción </th>
                      <th scope="Clave"> Clave Unidad </th>
                      <th scope="Clave"> Clave Producto/Servicio </th>
                      <th scope="Cantidad"> Cantidad </th>
                      <th scope="Descuento"> Descuento </th>
                      <th scope="Impuestos"> Impuestos Trasladados </th>
                      <th scope="Impuestos"> Impuestos Retenidos </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of factura.conceptos">
                      <td> {{item.valorUnitario | currency:'$'}} </td>
                      <td> {{item.unidad}} </td>
                      <td> {{item.importe | currency:'$'}} </td>
                      <td> {{item.descripcion}} </td>
                      <td> {{item.claveUnidad}} </td>
                      <td> {{item.claveProdServ}} </td>
                      <td> {{item.cantidad}} </td>
                      <td> {{item.descuento}} </td>
                      <td>
                        <ul *ngIf="item.impuestos && item.impuestos.traslados && item.impuestos.traslados.length > 0">
                          <li class="no-wrap-text" *ngFor="let imp of item.impuestos.traslados">
                            Base: {{ imp.base | currency:'$'}}<br>
                            Importe: {{ imp.importe | currency:'$'}}<br>
                            Impuesto: {{ imp.impuesto}}<br>
                            Tasa Cuota: {{ imp.tasaOCuota}}<br>
                            Tipo Factor: {{ imp.tipoFactor}}
                            <hr>
                          </li>
                        </ul>
                      </td>
                      <td> {{item.impuestosRetenidos}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="factura && factura.nomina  && objectLength(factura.nomina) !== 0" id="nomina">
            <div class="row card sombreado p-3 overflow-auto">
              <div class="col-12 mt-2">
                <h5>
                  Nómina
                </h5>
                <hr>
              </div>
              <label class='col-3 my-1' *ngIf="CFDI"> Versión: <br> <small> {{factura.nomina.version}} </small>
              </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Tipo Nomina: <br> <small> {{factura.nomina.tipoNomina}}
                </small>
              </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Fecha Pago: <br> <small> {{factura.nomina.fechaDago}}
                </small>
              </label>
              <label class='col-3 my-1' *ngIf="CFDI"> Fecha Inicial Pago: <br> <small>
                  {{factura.nomina.fechaInicialPago}} </small></label>
              <label class='col-3 my-1' *ngIf="CFDI"> Fecha Final Pago: <br> <small>
                  {{factura.nomina.fechaFinalPago}}
                </small></label>
              <label class='col-3 my-1' *ngIf="CFDI"> Numero Dias Pagados: <br> <small>
                  {{factura.nomina.numDiasDagados}} </small></label>
              <label class='col-3 my-1' *ngIf="CFDI"> Total Percepciones: <br> <small>
                  {{factura.nomina.totalDercepciones}} </small></label>
              <label class='col-3 my-1' *ngIf="CFDI"> Total Deducciones: <br> <small>
                  {{factura.nomina.totalDeducciones}}
                </small></label>
              <label class='col-3 my-1' *ngIf="CFDI"> Total Otros Pagos: <br> <small>
                  {{factura.nomina.totalOtrosDagos}}
                </small></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
