<div id="gritter-notice-wrapper3">
  <div id="gritter-item-2" class="gritter-item-wrapper my-sticky-class"  role="alert">
    <div class="gritter-top"></div>
    <div class="gritter-item">
      <div class="gritter-image">
        <i class="fas fa-times-circle fa-5x "></i>
      </div>
      <div class="note-content">
        <h5 class="text-white">
          <b>Error!</b>
        </h5>
        <h6 class="text-white">{{name}}</h6>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="gritter-bottom"></div>
  </div>
</div>