<app-filtro-comprobacion-gv (filtrar)="filtrar($event)" [is_flujo_aprobacion]="true"></app-filtro-comprobacion-gv>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista de Comprobaciones</h4>
      </div>
      <div class="panel-body  table-responsive">
        <table #datatableElement id="tabla_comprobaciones" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody w-100"
          style="max-width: 100% !important; width: 100% !important;">
          <caption></caption>
          <thead>
            <tr>
              <th scope="" class="text-center">Estatus</th>
              <th scope="" class="text-center">Folio <br> Comprobación</th>
              <th scope="" class="text-center">Usuario</th>
              <th scope="" class="text-center">Destino</th>
              <th scope="" class="text-center">Motivo</th>
              <th scope="" class="text-center">Fecha Creación</th>
              <th scope="" class="text-center">Monto <br> Reembolsar</th>
              <th scope="" class="text-center">Moneda</th>
              <th scope="" class="text-center">Centro Costo</th>
              <th scope="" class="text-center">Compañía</th>
              <th scope="" class="text-center">Acciónes </th>
            </tr>
          </thead>

          <tbody>
            <tr class="gradeU" *ngFor="let item of lista_comprobantes">
              <td>{{ item.estatus}}</td>
              <td class="ajustar_ta">{{ item.folio_comprobacion}}</td>
              <td>{{ item.nombre_usuario}}</td>
              <td> <span [title]="item.descripcion"> {{ item.descripcion.substring(0, 100) }}{{ item.descripcion.length
                  >= 100? '...' : '' }} </span> </td>
              <td> <span [title]="item.motivo"> {{ item.motivo.substring(0, 100) }}{{ item.motivo.length >= 100? '...' :
                  '' }} </span> </td>
              <td>
                <div style="white-space: nowrap">
                  {{ item.fecha_creacion | date: 'yyyy-MM-dd'}}
                </div>
              </td>
              <td>
                <div style="text-align: right;">
                  {{ item.monto_reembolsar | currency: '$'}}
                </div>
              </td>
              <td>{{ item.nombre_moneda}}</td>
              <td>{{ item.nombre_cc}}</td>
              <td>{{ item.nombre_compania}}</td>
              <td>
                <button class=" btn btn-primary btn-sm" (click)="editarBorrador(item)"> <em class="fa fas-eye"
                    (click)="editarBorrador(item)"></em> Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-modal-comprobante #modal_comprobante></app-modal-comprobante>
