<form [formGroup]="formulario_header" (submit)="submitForm()" autocomplete="off">
  <fieldset>
    <legend class="p-b-15" style="font-size:1rem">Reembolso Otros Gastos</legend>
    <div class="form-row">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <label for="usuario">Nombre del Usuario</label>
        <input formControlName="nombre_usuario" [(ngModel)]="comprobacion_header.usuario" type="text"
          class="form-control" id="usuario" readonly>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <label for="compania">Compañía <span class="requerido">*</span></label>
        <select2 [data]="lista_contribuyente" [options]="{placeholder: 'Seleccione un Compañía'}"
          [disabled]="numero_comprobacion" (valueChanged)="onContribuyenteSelected($event)" name="cnetro_costos"
          id="cnetro_costos">
        </select2>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <label for="cnetro_costos">Centro de Costos <span class="requerido">*</span> </label>
        <select2 [data]="lista_centro_costos" [value]="(usuario_cc)" [cssImport]=true
          [options]="{placeholder: 'Seleccione un Centro de Costo'}" class="left" [disabled]="true"
          (valueChanged)="onCECOSelected($event)" name="centro_costos" id="cnetro_costos">
        </select2>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <label for="aprobador">Aprobador<span class="requerido">*</span></label>
        <input formControlName="aprobador" [(ngModel)]="comprobacion_header.aprobador" type="text" class="form-control"
          id="monto_reembolsar" readonly>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <label for="moneda">Moneda <span class="requerido">*</span> </label>
        <select2 [data]="lista_moneda" [options]="{placeholder: 'Seleccione una moneda'}"
          [disabled]="numero_comprobacion" (valueChanged)="onMonedaSelected($event)" name="moneda" id="moneda">
        </select2>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <label for="destino">Destino<span class="requerido">*</span></label>
        <input type="text" formControlName="destino" maxlength="50" [(ngModel)]="comprobacion_header.descripcion"
          class="form-control" id="destino">
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <div class="form-group">
          <label for="descripcion_motivo">Motivo <span class="requerido">*</span></label>
          <textarea class="form-control" formControlName="motivo" maxlength="500" id="descripcion_motivo" rows="3"
            [(ngModel)]="comprobacion_header.motivo"></textarea>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
        <div class="switcher p-t-10">
          <input type="checkbox" formControlName="recuperable" [(ngModel)]="comprobacion_header.recuperable" id="activo"
            name="activo" />
          <label for="activo">Recuperable</label>
        </div>
      </div>

    </div>
  </fieldset>
  <div class="row">
    <div class="col  text-right ">
      <button *ngIf="!numero_comprobacion" type="button" (click)="cancelarComprobacion()"
        class="btn btn-danger ml-auto mr-2">Cancelar</button>
      <button [disabled]="!formulario_header.valid || numero_comprobacion" type="submit"
        class="btn btn-primary ml-auto">Continuar</button>
    </div>
  </div>
</form>
