<form [formGroup]="formulario_row">
  <div class="row">
    <div class="col-md-3 pt-2">
      <label for="linea_detalle">Línea Detalle</label>
      <input type="text" name="linea_detalle" [id]="contador + '_detalle'" maxlength="250" class="form-control"
        formControlName="detalle" [(ngModel)]="detalle.descripcion" placeholder="linea_detalle"
        (change)='verificaEstatus()' (keyup)='verificaEstatus()' readonly>
    </div>
    <div class="col-md-3 pt-2">
      <label for="concepto">Concepto</label>
      <select2 [data]="catalogo_concepto" [options]="{placeholder: 'Seleccione Concepto... '}"
        [value]="detalle ? detalle.descripcion :'' " (valueChanged)="onChangeConcepto($event)" name="concepto"
        id="concepto">
      </select2>
    </div>

    <div class="col-md-2 pt-2">
      <label for="cuenta">Cuenta</label>
      <input type="text" name="cuenta" [id]="contador + '_cuenta'" maxlength="250" class="form-control"
        formControlName="cuenta" [(ngModel)]="detalle.cuenta" placeholder="cuenta" (change)='verificaEstatus()'
        (keyup)='verificaEstatus()' readonly>
    </div>
    <div class="col-md-2 pt-2">
      <label for="monto">Monto</label>
      <input type="text" name="monto" [id]="contador + '_monto'" maxlength="250" class="form-control"
        formControlName="monto" placeholder="monto" [(ngModel)]="detalle.importe" (change)='verificaEstatus()'
        (keyup)='verificaEstatus()' readonly>
    </div>
    <div class="col-md-2 pt-2">
      <div class="switcher p-t-10">
        <input type="checkbox" [id]="contador + '_check'" class="ml-5" [name]="contador + '_check'"
          (click)="cambiarCheck($event.target)" formControlName='anticipo' [(ngModel)]="detalle.anticipo"
          (change)='verificaEstatus()'>
        <label [for]="contador + '_check'" style="width: auto; margin-left: -15px;"> Pago Compañia </label>
      </div>
    </div>
  </div>
</form>