<div class="modal fade" id="ModalSitio" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size:1rem; color: #212529" id="ModalLabel">
          Consulta sitio
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel-body table-responsive">
          <table id="tabla_sitio"
            class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody">
            <thead>
              <tr>
                <th> Sitio </th>
                <th> Moneda </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sitio of lista_sitio">
                <td>
                  {{sitio.sitio}}
                </td>
                <td>
                  {{sitio.moneda}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" (click)="cerrarModal()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
