<!-- Modal -->
<div class="modal fade" id="modalAnexos" tabindex="-1" role="dialog" aria-labelledby="modalAnexos" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Anexos </h5>
        <button #btn_cerrar type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-12">
            <label>Archivo <span class="requerido">*</span> </label>
            <div class="input-group input-file" name="xml_nc">
              <span class="input-group-btn">
                <label class="btn btn-block btn-primary">Archivo
                  <input #input_pdf for="archivo" accept="*.*" type="file" style="display: none;"
                    (change)="cargarArchivo( input_pdf, input_pdf_txt, 'pdf')">
                </label>
              </span>
              <input #input_pdf_txt type="text" disabled class="form-control" placeholder='' id="archivo"
                name="archivo" />
            </div>
          </div>
        </div>

        <div class="row" *ngIf="uuid">
          <div class="form-group col-12">
            <table class="table">
              <caption class="d-none"></caption>
              <thead>
                <th scope="">#</th>
                <th scope="">Nombre</th>
                <th scope="">Tipo</th>
                <th class="text-center" scope="">Acciones</th>
              </thead>
              <ng-container *ngIf="documentos_anexos.length > 0 ; else sinAnexos">
                <tr *ngFor="let anexo of documentos_anexos; let i = index;">
                  <td> {{ i + 1 }} </td>
                  <td> {{ anexo.nombre_archivo }} </td>
                  <td> {{ anexo.extension }} </td>
                  <td class="text-center">
                    <button target="_blank" href="" class="btn btn-sm mx-1 btn-outline-danger"
                      (click)="eliminarAnexo(anexo.id_anexo)">
                      <em class="fas fa-trash"></em>
                    </button>
                    <button class="btn btn-sm mx-1 btn-outline-primary" (click)="obtenerURl(anexo)"> <em
                        class="fas fa-arrow-down"></em> </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #sinAnexos>
                <tr>
                  <td colspan=5 class="text-center">
                    Sin Anexos.
                  </td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <button #btn_close type="button" class="btn mx-1 btn-danger" (click)="cerrarModal()">Cerrar</button>
            <button #btn_actualizar type="button" class="btn mx-1 btn-primary" [disabled]="archivo == ''"
              (click)="actualizarDoc()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
