<form [formGroup]="main_formulario" (submit)="submitFormulario()">



  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col">Unidad</th>
          <th scope="col">Valor Unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Importe</th>
          <th style="width: 250px;" scope="col">Concepto</th>
          <th scope="col">Monto a Reembolsar</th>
          <th scope="col">Impuestos</th>
          <th scope="col">Anexos</th>
          <th scope="col">Adicional</th>
          <th scope="col">No Aplica</th>
        </tr>
      </thead>
      <tbody formArrayName="conceptos">
        <tr [formGroupName]="i" *ngFor="let item of controlsMain.conceptos.controls; let i = index">
          <th scope="">
            <!-- <input formControlName="descripcion" type="text" name="linea_detalle" maxlength="250" class="form-control"> -->
            {{ conceptos[i].descripcion }}
          </th>
          <th scope="">
            {{ conceptos[i].unidad }}
          </th>
          <th class="text-right" scope="">
            {{ conceptos[i].valorUnitario }}
          </th>
          <th scope="" class="text-center">
            {{ conceptos[i].cantidad }}
          </th>
          <th class="text-right" scope="">
            {{ conceptos[i].importe }}
          </th>
          <th scope="">
            <select2 [data]="lista_cuentas" [options]="{placeholder: 'Seleccione Concepto... '}"
              (valueChanged)="onChangeConcepto($event)" name="concepto" id="concepto">
            </select2>
          </th>
          <th class="text-right" scope="">
            <input currencyMask formControlName="montoRembolsar" type="text" name="linea_detalle" maxlength="250"
              class="form-control">
          </th>
          <th class="text-center" scope=""> <button class="btn btn-primary"> <em class="fa fa-percent"></em> </button>
          </th>
          <th class="text-center" scope=""> <button class="btn btn-primary"> <em class="fa fa-file"></em> </button>
          </th>
          <th class="text-center" scope=""> <button class="btn btn-primary"> <em class="fa fa-file-archive"></em>
            </button> </th>
          <th class="text-center" scope="">
            <input type="checkbox" class="mx-auto">
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col text-right">
      <button type="submit" class="btn btn-primary"> Agregar </button>
    </div>
  </div>
</form>


<!-- <form [formGroup]="formulario_row">
  <div class="row">
    <div class="col-md-3 pt-2">
      <label for="linea_detalle">Línea Detalle</label>
      <input type="text" name="linea_detalle" [id]="contador + '_detalle'" maxlength="250" class="form-control"
        formControlName="detalle" [(ngModel)]="detalle.descripcion" placeholder="linea_detalle"
        (change)='verificaEstatus()' (keyup)='verificaEstatus()' readonly>
    </div>
    <div class="col-md-3 pt-2">
      <label for="concepto">Concepto</label>
      <select2 [data]="catalogo_concepto" [options]="{placeholder: 'Seleccione Concepto... '}"
        [value]="detalle ? detalle.descripcion :'' " (valueChanged)="onChangeConcepto($event)" name="concepto"
        id="concepto">
      </select2>
    </div>

    <div class="col-md-2 pt-2">
      <label for="cuenta">Cuenta</label>
      <input type="text" name="cuenta" [id]="contador + '_cuenta'" maxlength="250" class="form-control"
        formControlName="cuenta" [(ngModel)]="detalle.cuenta" placeholder="cuenta" (change)='verificaEstatus()'
        (keyup)='verificaEstatus()' readonly>
    </div>
    <div class="col-md-2 pt-2">
      <label for="monto">Monto</label>
      <input type="text" name="monto" [id]="contador + '_monto'" maxlength="250" class="form-control"
        formControlName="monto" placeholder="monto" [(ngModel)]="detalle.importe" (change)='verificaEstatus()'
        (keyup)='verificaEstatus()' readonly>
    </div>
    <div class="col-md-2 pt-2">
      <div class="switcher p-t-10">
        <input type="checkbox" [id]="contador + '_check'" class="ml-5" [name]="contador + '_check'"
          (click)="cambiarCheck($event.target)" formControlName='anticipo' [(ngModel)]="detalle.anticipo"
          (change)='verificaEstatus()'>
        <label [for]="contador + '_check'" style="width: auto; margin-left: -15px;"> Pago Compañia </label>
      </div>
    </div>
  </div>
</form> -->
