<div class="row">
  <div class="col-md-2" style="padding-bottom: 2em;">
    <a id="agregarContribuyente" routerLink="/home/contribuyente/add" class="btn btn-primary"
      *ngIf="globals.menuDinamico.gestion_Contribuyente_Add">Agregar
      Contribuyente</a>
  </div>

  <div *ngIf="globals.menuDinamico.admin_next" class="form-group col-md-4 ">
    <!-- <label>Seleccione un Corporativo</label> -->
    <select2 [data]="globals.lista_corporativos" [options]="{placeholder: 'Seleccione un corporativo'}"
      (valueChanged)="ActualizaCorporativo($event)" id="selec2_corporativo"> </select2>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista - Contribuyentes</h4>
      </div>
      <div class="panel-body table-responsive">
        <table id="tabla_contribuyentes_rci"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody"
          width="100%" style="max-width:
    100%; ">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Nombre Corto</th>
              <th>Razón Social</th>
              <th>Identificador Fiscal</th>
              <th>Código</th>
              <th>Estado</th>
              <th class="text-nowrap">Estatus</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeU" *ngFor="let item of lista_contribuyentes" [ngClass]="{'text-danger':item.estatus == 0}">
              <td>{{item.nombre}}</td>
              <td>{{item.nombre_corto}}</td>
              <td>{{item.razon_social}}</td>
              <td>{{item.identificador_fiscal}}</td>
              <td>{{item.codigo}}</td>
              <td>{{item.estado}}</td>
              <td>{{item.estatus == 1 ? 'Activo' : 'Inactivo'}}</td>
              <td>
                <a class="btn btn-primary text-white editar-contribuyente"
                  (click)="editarContribuyente(item.identificador)"
                  *ngIf="globals.menuDinamico.gestion_Contribuyente_Edit">Editar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
