<div *ngIf="data" class="modal fade" id="modal-detalle-proveedo-informal" tabindex="-1" role="dialog"
  aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 100%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title p-b-15" id="ModalLabel">Detalles </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <label for="">
              Empresa:
            </label>
            {{ data.empresa }}
          </div>
          <div class="col-sm-6 col-md-4">
            <label for="">
              Hotel:
            </label>
            {{ data.hotel }}
          </div>
          <div class="col-sm-6 col-md-4">
            <label for="">
              Acreedor:
            </label>
            {{ data.usuario_acreedor }}
          </div>
          <div class="col-sm-6 col-md-4">
            <label for="">
              Estatus:
            </label>
            {{ data.estatus_descripcion }}
          </div>
          <div class="col-sm-6 col-md-4">
            <label for="">
              Estatus SAP:
            </label>
            {{ data.estatus_sap_descripcion }}
          </div>
        </div>

        <table id="tabla_documentos table-responsive"
          class="row-border table-responsive hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody"
          style="max-width: 100%; width:100%">
          <caption></caption>
          <thead>
            <tr>
              <th scope="">Descripción de Cuenta</th>
              <th scope="">Fecha Inicio</th>
              <th scope="">Fecha Fin</th>
              <th scope="">Descripción </th>
              <th scope="">Moneda</th>
              <th scope="">Subtotal</th>
              <th scope="">Total</th>
              <th scope="">Documento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <tr *ngFor="let detalle of data.detalle">
              <td> {{ detalle.descripcion_cuenta }} </td>
              <td class="no-wraptext"> {{ detalle.fecha_inicio_comprobacion | date:'yyyy-MM-dd' }} </td>
              <td class="no-wraptext"> {{ detalle.fecha_fin_comprobacion | date:'yyyy-MM-dd' }} </td>
              <td> {{ detalle.descripcion }} </td>
              <td> {{ detalle.moneda }} </td>
              <td> {{ detalle.subtotal | currency: '$' }} </td>
              <td> {{ detalle.total | currency: '$' }} </td>
              <td *ngIf="detalle.pdf !== ''"> <a [href]="detalle.pdf" target="_blank" class="btn"> <em
                    class="far fa-file-pdf"></em> </a> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button id="cerra_modal" type="button" class="btn btn-danger" (click)="modalClose()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
