<app-form-comprobacion-header #comprobacionHeader (onContinuar)="guardarFormHeader($event)" (onCancelar)="cancelar()"
  [numero_comprobacion]='numero_comprobacion' [comprobacion_header]="comprobacion_header" [usuario]="usuario"
  [title]="title">
</app-form-comprobacion-header>

<!-- Carga de Documentos -->
<div class="row"
  *ngIf="numero_comprobacion && (comprobacion_header.estatus.toLowerCase() == 'borrador' || !comprobacion_header.estatus)">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
      <label for="tipo_comprobacion">Carga de Comprobantes</label>
      <select class="form-control" [(ngModel)]="tipo_comprobante" id="tipo_comprobacion"
        aria-placeholder="Seleccione tipo de comprobante">
        <option value="" disabled selected> Seleccione tipo de comprobante... </option>
        <option value="nacional"> Comprobación con XML (Digital) </option>
        <option value="internacional"> Comprobación sin XML (Papel) </option>
      </select>
    </div>
  </div>
</div>

<app-carga-comprobante-nacional *ngIf="tipo_comprobante === 'nacional'" (cancelarCarga)="cancelarCarga()"
  (enviarArchivo)="setArchivo($event)" [lista_cuentas]="lista_cuentas" (enviarConceptos)="enviarConceptos($event)"
  (enviarDetalleFactura)="setDetalles($event)" (setTimpoCambio)="setTipoCambio($event)"
  (onAgregarComprobante)="agregarComprobante($event)">
</app-carga-comprobante-nacional>

<app-carga-comprobante-extranjero *ngIf="tipo_comprobante === 'internacional'"
  [comprobacion_header]="comprobacion_header" [lista_monedas]="lista_monedas" [lista_cuentas]="lista_cuentas"
  [numero_comprobante]="numero_viaje" (actualizarFecha)="actualizarFecha($event)"
  (enviarDetalleFactura)="setDetalles($event)" (enviarConceptos)="enviarConceptos($event)"
  (onAgregarComprobante)="agregarComprobante($event)" (cancelarCarga)="cancelarCarga()"
  (setTimpoCambio)="setTipoCambio($event)">
</app-carga-comprobante-extranjero>

<app-lista-comprobantes-carga *ngIf="numero_comprobacion" [lista_comprobaciones]="lista_comprobantes"
  [comprobante]="comprobacion_header" [numero_comprobacion]="numero_comprobacion" [totales]="totales"
  (onEliminarComprobante)="eliminarComprobante($event)" (onCancelar)="cancelar()" (onComprobar)="comprobar()"
  (onEliminarComprobacion)="eliminarComprobacion()" [lista_cuentas]="lista_cuentas"
  (onActualizarConceptosSuccess)="this.obtenerComprobacion()" (onAprobarComprobacion)="procesarAprobacion($event)"
  [aprobacion_parcial]="aprobacion_parcial">
</app-lista-comprobantes-carga>

<app-loading-modal *ngIf="show_loading"></app-loading-modal>
