<!-- este componente se tienen que modificar para poder
filtrar por comprobaciones de gastos falta definir el filtro
por el momento se puso  -->
<app-filtro-comprobaciones-gastos (filtrar)="filtrar($event)"></app-filtro-comprobaciones-gastos>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista de Comprobaciones Gastos </h4>
      </div>
      <div class="panel-body table-responsive">
        <table id="tabla_acreedores_diversos" datatable [dtOptions]="globals.dtOptions" [dtTrigger]="dtTrigger"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody">
          <caption></caption>
          <thead>
            <tr>
              <th scope="">Usuario</th>
              <th scope="">Folio Comprobación</th>
              <th scope="">Descripción</th>
              <th scope="">Fecha Creación</th>
              <th scope="">Motivo</th>
              <th scope="">Monto Reembolsar</th>
              <th scope="">Moneda</th>
              <th scope="">Centro Costo</th>
              <th scope="">Compañía</th>
              <th scope="">Usuario Aprobador</th>
              <th scope="">Tipo de gasto</th>
              <th scope="">Estatus Aprobación</th>
              <th scope="" class="align-middle">Documentos</th>
              <th scope="" class="align-middle">Aprobación</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeU" *ngFor="let item of lista_comprobantes">
              <td>{{ item.nombre_usuario}}</td>
              <td>{{ item.folio_comprobacion}}</td>
              <td>{{ item.descripcion}}</td>
              <td>{{ item.fecha_creacion}}</td>
              <td>{{ item.motivo}}</td>
              <td>{{ item.monto_reembolsar}}</td>
              <td>{{ item.nombre_moneda}}</td>
              <td>{{ item.nombre_cc}}</td>
              <td>{{ item.nombre_compania}}</td>
              <td>{{ item.nombre_usuario_aprobador}}</td>
              <td> Tipo de Gasto</td>
              <td>Nivel de aprobación</td>
              <td>
                <div style="white-space:nowrap;">
                  <a target="_blank" class="btn">
                    <i class="far fa-file-pdf"></i>
                  </a>
                  <a target="_blank" class="btn ml-2">
                    <i class="far fa-file-code"></i>
                  </a>
                </div>
              </td>
              <td class="no-wraptext">
                <ng-container>
                  <button (click)="aprobar( )" class="btn btn-info ml-2">
                    <i class="far fa-check-circle"></i>
                  </button>
                  <button (click)="rechazar( )" class="btn btn-danger ml-2">
                    <i class="fas fa-ban"></i>
                  </button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
