<div class="row">

  <div class="mt-2 col-12">
    <label class="label-control" for="">Subtotal <span class="text-danger">*</span> </label>
    <input currencyMask disabled [(ngModel)]="subtotal" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
      id="nfc" />
  </div>

  <div class=" mt-2 col-12">
    <label class="label-control" for="">Total <span class="text-danger">*</span> </label>
    <input currencyMask disabled [(ngModel)]="total" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
      id="nfc" />
  </div>

</div>
