<!-- Modal -->
<div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="modal_detalle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Agregar Anexo </h5>
        <button #btn_cerrar type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-12">
            <label>Archivo <span class="requerido">*</span> </label>
            <div class="input-group input-file" name="xml_nc">
              <span class="input-group-btn">
                <label class="btn btn-block btn-primary">Archivo
                  <input #input_pdf for="archivo" accept="*.*" type="file" style="display: none;"
                    (change)="cargarArchivo( input_pdf, input_pdf_txt, 'pdf')">
                </label>
              </span>
              <input #input_pdf_txt type="text" disabled class="form-control" placeholder='' id="archivo"
                name="archivo" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button #btn_close type="button" class="btn btn-danger" (click)="cerrarModal()">Cerrar</button>
        <button #btn_actualizar type="button" class="btn btn-primary" [disabled]="archivo == ''"
          (click)="actualizarDoc()">Guardar</button>
      </div>
    </div>
  </div>
</div>
