<div class="modal fade " id="modal_detalle" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"
  style="max-width:100%;">
  <div class=" modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title p-b-15" id="ModalLabel">Modal de Anexos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-inverse">
              <div class="panel-heading">
                <h4 class="panel-title">Lista - Anexos</h4>
              </div>
              <div class="panel-body table-responsive">
                <table id="tabla_detalle_factura"
                  class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody">
                  <caption></caption>
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">linea</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Valor Unitario</th>
                      <th scope="col">Unidad</th>
                      <th scope="col">Importe</th>
                      <th scope="col">Concepto</th>
                      <th style="width: 250px;" scope="col">Monto a Reembolsar</th>
                      <th scope="col">Comprobante Fiscal</th>
                      <th scope="col">Impuestos</th>
                      <th scope="col">Anexos</th>
                      <th scope="col">Adicional</th>
                      <th scope="col">No aplica</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="gradeU" *ngFor="let factura of list_detalle_factura; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{factura.linea}}</td>
                      <td>{{factura.cantidad}}</td>
                      <td>{{factura.descripcion}}</td>
                      <td>{{factura.valor_unitario | currency}}</td>
                      <td>{{factura.unidad}}</td>
                      <td>{{factura.importe}}</td>
                      <td>{{factura.concepto }}</td>
                      <td class="text-center" scope="">
                        <div>
                          <label><small>monto</small></label>
                          <input type="text">
                        </div>
                      </td>
                      <td>
                        <div>
                          <input type="checkbox">
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <a><em class="fas fa-percentage" style="font-size: 20px;"></em></a>
                        </div>
                      </td>
                      <td>
                        <button><em class="fas fa-folder"></em></button>
                      </td>
                      <td>
                        <button><em class="fas fa-file-archive"></em></button>
                      </td>
                      <td>
                        <div>
                          <input type="checkbox">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
