<!-- Seccion carga documento -->
<ng-container *ngIf="!xml_valido">
  <div class="row">
    <div class="col-md-6 pt-2">
      <form [formGroup]='formulario' autocomplete="off">
        <div class="form-group">
          <label>Archivo XML <span class="requerido">*</span> </label>
          <div class="form-group">
            <div class="input-group input-file" name="Fichier1">
              <span class="input-group-btn">
                <label class="btn btn-block btn-primary">Archivo
                  <input for="archivo" accept=".xml,.XML" type="file" style="display: none;"
                    (change)="cargarArchivo( $event, input_xml, 'xml')">
                </label>
              </span>
              <input #input_xml type="text" value="Seleccione archivo..." disabled class="form-control"
                placeholder='Seleccione archivo...' id="archivo" name="archivo" />
            </div>
          </div>
          <label> Archivo PDF </label>
          <div class="form-group">
            <div class="input-group input-file" name="xml_nc">
              <span class="input-group-btn">
                <label class="btn btn-block btn-primary">Archivo
                  <input for="archivo" accept=".pdf,.PDF" type="file" style="display: none;"
                    (change)="cargarArchivo( $event, input_pdf, 'pdf')">
                </label>
              </span>
              <input #input_pdf type="text" value="Seleccione archivo..." disabled class="form-control"
                placeholder='Seleccione archivo...' id="archivo_pdf" name="archivo" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="obtenerComprobante()" class="btn btn-primary" [disabled]="formulario.invalid">
        Validar
      </button>
    </div>
  </div>
</ng-container>
<!-- Fin seccion carga documento -->

<!-- Seccion Conceptos Cuentas -->
<ng-container *ngIf="comprobante">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> UUID:</span>
                {{ comprobante.complemento.timbreFiscalDigital.uuid ?
                comprobante.complemento.timbreFiscalDigital.uuid : '' }}
              </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Fecha CFDI:</span>
                {{ comprobante.fecha ? (comprobante.fecha | date: 'yyyy/MM/dd' ) : '' }} </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> RFC Emisor:</span>
                {{ comprobante.emisor ? comprobante.emisor.rfc : '' }}
              </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Razón Social Emisor:</span>
                {{ comprobante.emisor ? comprobante.emisor.nombre : '' }} </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Serie:</span>
                {{ comprobante.serie ? comprobante.serie : '' }} </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Forma Pago:</span>
                {{ comprobante.formaPago ? comprobante.formaPago : '' }} </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Moneda:</span>
                {{ comprobante.moneda ? comprobante.moneda : '' }} </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Subtotal:</span>
                {{ (comprobante.subTotal ? comprobante.subTotal : '') | currency:'$' }} </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Total
                  Impuestos:</span>{{( comprobante.impuestos ? comprobante.impuestos.totalImpuestosRetenidos :
                '') | currency:'$' }}
              </p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <p><span class="bold"> Total:</span>
                {{ (comprobante.total ? comprobante.total : '') | currency:'$' }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-tabla-conceptos-form [conceptos]="comprobante.conceptos" [lista_cuentas]="lista_cuentas"
        (onCancelar)="cancelar()" (onAgregar)="agregarConceptos($event)">
      </app-tabla-conceptos-form>
    </div>
  </div>
</ng-container>
<!-- Fin seccion Conceptos Cuentas -->
