<!-- Modal Roles Centros de Consumo -->
<div class="modal fade" id="ModalRolCC" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title p-b-15" id="ModalLabel">Selección de Rol</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario_roles">
          <div class="form-group row">
            <div class="row col-md-12">
              <div class="col-md-12">
                <label>Seleccione Rol: </label>
                <div *ngIf="relacion_rol_centro_consumo">
                  <select class="form-control" [ngModel]="rol_seleccionado" (ngModelChange)="onRolSeleccionado($event)"
                    formControlName="rol" id="select_roles">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let item of relacion_rol_centro_consumo;" [value]="item.rol_id"
                      selected="{{item.selected}}">
                      {{item.nombre_rol}} </option>
                  </select>
                </div>
                <div *ngIf="!relacion_rol_centro_consumo">
                  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
                <div>
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn_cancelar_modal_login" type="button" class="btn btn-danger"
          (click)="ModalClose()">Cancelar</button>
        <button id="btn_continuar_modal_login" type="button" class="btn btn-primary"
          [disabled]="!formulario_roles.valid" (click)="ContinuarMain()" [innerHTML]="txtBtnAgregar">Continuar</button>
      </div>
    </div>
  </div>
</div>
