<!-- Seccion carga documento -->
<form [formGroup]='formulario'>
  <!-- Header del comprobante -->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Archivo <span class="requerido">*</span> </label>
        <div class="form-group">
          <div class="input-group input-file" name="Fichier1">
            <span class="input-group-btn">
              <label class="btn btn-block btn-primary">Archivo
                <input for="archivo" accept="*.*" type="file" style="display: none;"
                  (change)="cargarArchivo( $event, input_xml)">
              </label>
            </span>
            <input #input_xml type="text" value="Seleccione archivo..." disabled class="form-control"
              placeholder='Seleccione archivo...' id="archivo" name="archivo" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="nombre">Fecha Comprobante </label>
      <my-date-picker name="fechaIniViaje" id="fecha_comprobante" [placeholder]="'Fecha Inicio'"
        [options]="myDatePickerOptions" (dateChanged)="onFechaSelected($event)">
      </my-date-picker>
    </div>

    <div class="col-md-3">
      <label for="numero_comprobante">Número Comprobante</label>
      <input type="text" name="numero_comprobante" id="numero_comprobante'" maxlength="25" class="form-control"
        formControlName="numero_comprobante" placeholder="numero_comprobante">
    </div>

    <div class="col-md-3">
      <label for="forma_pago">Forma de Pago <span class="requerido">*</span> </label>
      <select2 [data]="lista_forma_pago" [options]="{placeholder: 'Seleccione Forma de Pago'}"
        (valueChanged)="onFormaPagoSelect($event)" name="forma_pago" id="forma_pago">
      </select2>
    </div>

    <div class="col-md-3">
      <label for="selec_moneda_gasto_viaje">Moneda <span class="requerido">*</span> </label>
      <select2 [data]="lista_monedas" [value]="valor_tipomoneda" [options]="{placeholder: 'Seleccione moneda... '}"
        (valueChanged)="onMonedaSeleccionado($event)" name="selec_moneda_gasto_viaje" id="selec_moneda_gasto_viaje">
      </select2>
    </div>
  </div>
  <!-- Fin del Header del comprobante -->

  <!-- Visible cuando los datos del comprobante han sido cargados -->
  <ng-container *ngIf="formulario.valid">
    <!-- Formulario concepto Extranjero -->
    <div class="row">
      <app-row-concepto-extranjero class="col-12" (onAgregarConcepto)="addConcepto($event)"
        [lista_cuentas]="lista_cuentas">
      </app-row-concepto-extranjero>
    </div>
    <!-- Fin del Formulario concepto Extranjero -->

    <!-- Lista de conceptos Agregados  -->
    <div class="row" *ngIf="controles.conceptos.value.length > 0">
      <table class="table">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad</th>
            <th scope="col">Valor Unitario</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Importe</th>
            <th style="width: 250px;" scope="col">Concepto</th>
            <th scope="col">Monto a Reembolsar</th>
            <th scope="col">Aplica</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of controles.conceptos.value; let i=index">
            <th scope="">
              <input disabled [value]="item.descripcion" type="text" name="descripcion" maxlength="250"
                class="form-control">
            </th>
            <th scope="">
              <input disabled [value]="item.unidad" type="text" name="unidad" maxlength="250" class="form-control">
            </th>
            <th class="text-right" scope="">
              <input currencyMask [options]="{ thousands: ',', decimal: '.' }" disabled [value]="item.valorUnitario"
                type="text" name="valorUnitario" maxlength="250" class="form-control">
            </th>
            <th scope="" class="text-center">
              <input appNumbersOnly disabled [value]="item.cantidad" type="text" name="cantidad" maxlength="250"
                class="form-control">
            </th>
            <th class="text-right" scope="">
              <input currencyMask [options]="{ thousands: ',', decimal: '.' }" disabled [value]="item.importe"
                type="text" name="importe" maxlength="250" class="form-control" readonly>
            </th>
            <th scope="">
              <select2 [data]="lista_cuentas" [options]="{placeholder: 'Seleccione item... '}" disabled
                [value]="item? item.cuenta :''" name="concepto" id="concepto" [disabled]="item? true : false">
              </select2>
            </th>
            <th class="text-right" scope="">
              <input currencyMask [options]="{ thousands: ',', decimal: '.' }" disabled [value]="item.monto_rembolsar"
                type="text" name="linea_detalle" maxlength="250" class="form-control">
            </th>

            <th class="text-center" scope="">
              <input type="checkbox" class="mx-auto" disabled [checked]="item.aplica">
            </th>
            <th class="text-center" scope=""> <button class="btn btn-danger" (click)="removeConcepto(i)">
                <em class="fa fa-trash"></em> </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Fin de la lista de conceptos -->
  </ng-container>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="tipo_cambio">Total a Reembolsar:</label>
      <input currencyMask [options]="{ thousands: ',', decimal: '.' }" type="text" name="tipo_cambio" id="tipo_cambio'"
        maxlength="50" class="form-control" formControlName="total" placeholder="" disabled>
    </div>
  </div>
</form>
<div class="row mt-3">
  <button (click)="submitFormulario($event.target)" class="btn btn-primary mt-3"
    [disabled]="controles.conceptos.value.length <= 0">
    Agregar
  </button>

  <button class="btn btn-danger ml-2 mt-3" (click)="cancelar()">
    Cancelar
  </button>
</div>
