<!-- Seccion carga documento -->
<form [formGroup]='formulario'>
  <!-- Header del comprobante -->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Archivo <span class="requerido">*</span> </label>
        <div class="form-group">
          <div class="input-group input-file" name="Fichier1">
            <span class="input-group-btn">
              <label class="btn btn-block btn-primary">Archivo
                <input for="archivo" accept="*.*" type="file" style="display: none;"
                  (change)="cargarArchivo( $event, input_xml)">
              </label>
            </span>
            <input #input_xml type="text" value="Seleccione archivo..." disabled class="form-control"
              placeholder='Seleccione archivo...' id="archivo" name="archivo" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="razon_social">Nombre Proveedor <span class="requerido">*</span></label>
      <input type="text" name="razon_social" id="razon_social'" maxlength="100" class="form-control"
        formControlName="razon_social" placeholder="Nombre Proveedor">
    </div>
    <div class="col-md-3">
      <label for="rfc_proveedor">RFC Proveedor <span class="requerido">*</span></label>
      <input type="text" name="rfc_proveedor" id="rfc_proveedor'" maxlength="15" class="form-control"
        formControlName="rfc_proveedor" placeholder="Nombre Proveedor">
    </div>
    <div class="col-md-3">
      <label for="nombre">Fecha Comprobante <span class="requerido">*</span></label>
      <my-date-picker name="fechaIniViaje" id="fecha_comprobante" [placeholder]="'Fecha Comprobante'"
        [options]="myDatePickerOptions" (dateChanged)="onFechaSelected($event)">
      </my-date-picker>
    </div>

    <div class="col-md-3">
      <label for="uuid">Número Comprobante <span class="requerido">*</span></label>
      <input type="text" name="uuid" id="uuid'" maxlength="25" class="form-control" formControlName="uuid"
        placeholder="Número Comprobante">
    </div>

    <!-- <div class="col-md-3">
      <label for="forma_pago">Forma de Pago <span class="requerido">*</span> </label>
      <select2 [data]="lista_forma_pago" [options]="{placeholder: 'Seleccione Forma de Pago'}"
        (valueChanged)="onFormaPagoSelect($event)" name="forma_pago" id="forma_pago">
      </select2>
      <select class="form-control" [(ngModel)]="comprobante.forma_pago" id="tipo_comprobacion"
        aria-placeholder="Seleccione tipo de comprobante">
        <option *ngFor="let item of lista_forma_pago" [value]="item.id"> {{ lista_forma_pago }} </option>
      </select>
    </div> -->
    <div class="col-md-3">
      <label for="forma_pago">Forma de Pago <span class="requerido">*</span> </label>
      <select class="form-control" [(ngModel)]="comprobante.forma_pago" id="tipo_comprobacion"
        formControlName="forma_pago" aria-placeholder="Seleccione tipo de comprobante">
        <option *ngFor="let item of lista_forma_pago" [value]="item.id"
          [attr.selected]="item.id == comprobante.forma_pago ? true : null"> {{
          item.text }} </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="forma_pago">Observación </label>
      <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="2" maxlength="500"
        name="linea_detalle" formControlName="observacion" style="max-height: 250px !important;"></textarea>
    </div>
    <div class="col-md-3">
      <label for="forma_pago">Concepto <span class="requerido">*</span> </label>
      <select class="form-control" id="tipo_comprobacion" placeholder="Seleccione Cuenta" formControlName="cuenta"
        (change)="onChangeConcepto($event.target)">
        <option *ngFor="let item of lista_cuentas" [value]="item.id"> {{
          item.nombre }} </option>
      </select>
    </div>
    <!-- <div *ngIf="mostrar_numero_dias" class="col-md-3">
      <label for="uuid">Número Dias <span class="requerido">*</span></label>
      <input appNumbersOnly type="text" name="uuid" id="uuid'" maxlength="3" class="form-control"
        formControlName="numero_dias" placeholder="Número Comprobante">
    </div> -->

    <div *ngIf="controles.uuid.value" class="col-md-3 col-sm-4 col-xs-12">
      <button class="btn btn-primary" (click)="abrirModalAgregarAnexos()"> Anexos </button>
    </div>
  </div>
  <!-- Fin del Header del comprobante -->

  <!-- Visible cuando los datos del comprobante han sido cargados -->
  <ng-container *ngIf="formulario.valid">
    <!-- Formulario concepto Extranjero -->
    <div class="row">
      <app-row-concepto-extranjero class="col-12" (onAgregarConcepto)="addConcepto($event)"
        [comprobacion_header]="comprobacion_header" [cuenta_seleccionada]="cuenta_seleccionada"
        [lista_cuentas]="lista_cuentas" [lista_monedas]="lista_monedas" [tipo_gasto]="tipo_gasto">
      </app-row-concepto-extranjero>
    </div>
    <!-- Fin del Formulario concepto Extranjero -->

    <!-- Lista de conceptos Agregados  -->
    <div class="row" *ngIf="controles.conceptos.value.length > 0">
      <table class="table mb-2">
        <caption style="display: none;"></caption>
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad</th>
            <th scope="col">Valor Unitario</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Importe</th>
            <th scope="col">Moneda</th>
            <th scope="col">Tipo Cambio</th>
            <th *ngIf="tipo_gasto !== 11" style="width: 150px;" scope="col">Concepto</th>
            <th scope="col">Monto a Reembolsar (MXN) </th>
            <th scope="col">Aplica</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of controles.conceptos.value; let i=index">
            <th scope="">
              <input disabled [value]="item.concepto" type="text" name="concepto" maxlength="150" class="form-control">
            </th>
            <th scope="">
              <input disabled [value]="item.unidad" type="text" name="unidad" maxlength="50" class="form-control">
            </th>
            <th class="text-right" scope="">
              <!-- <input currencyMask [options]="{ thousands: ',', decimal: '.' }" disabled [value]="item.valorUnitario"
                type="text" name="valorUnitario" maxlength="20" class="form-control"> -->
              <div class="valor-curency">{{ item.valorUnitario | currency: '$' }}</div>
            </th>
            <th scope="" class="text-center">
              <input appNumbersOnly disabled [value]="item.cantidad" type="text" name="cantidad" maxlength="10"
                class="form-control">
            </th>
            <th class="text-right" scope="">
              <!-- <input currencyMask [options]="{ thousands: ',', decimal: '.' }" disabled [value]="item.importe"
                  type="text" name="importe" maxlength="20" class="form-control" readonly> -->
              <div class="valor-curency">{{ item.importe | currency: '$' }}</div>
            </th>
            <th scope="">
              <select2 [data]="lista_monedas" [options]="{placeholder: 'Seleccione Moneda... '}" disabled
                [value]="item? item.id_moneda :''" name="moneda" id="moneda" [disabled]="item? true : false">
              </select2>
            </th>
            <th scope="">
              <div class="valor-curency">{{ item.tipo_cambio | currency:'$':'symbol':'1.4-4' }}</div>
            </th>
            <th *ngIf="tipo_gasto !== 11" scope="">
              <select2 [data]="lista_cuentas" [options]="{placeholder: 'Seleccione item... '}" disabled
                [value]="item? item.id_cuenta_agrupacion :''" name="concepto" id="concepto"
                [disabled]="item? true : false">
              </select2>
            </th>
            <th class="text-right" scope="">
              <!-- <input currencyMask [options]="{ thousands: ',', decimal: '.' }" disabled [value]="item.monto_rembolsar"
                type="text" name="linea_detalle" maxlength="20" class="form-control"> -->
              <div class="valor-curency">{{ item.monto_rembolsar | currency: '$' }}</div>
            </th>

            <th class="text-center" scope="">
              <input type="checkbox" class="mx-auto" disabled [checked]="item.aplica">
            </th>
            <th class="text-center" scope=""> <button class="btn btn-danger" (click)="removeConcepto(i)">
                <em class="fa fa-trash"></em> </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Fin de la lista de conceptos -->
  </ng-container>
  <div class="row mt-3">
    <div class="col-md-3 ml-auto ">
      <label for="tipo_cambio">Total a Reembolsar (MXN)</label>
      <input currencyMask [options]="{ thousands: ',', decimal: '.' }" type="text" name="tipo_cambio" id="tipo_cambio'"
        maxlength="50" class="form-control" formControlName="total" placeholder="" disabled>
    </div>
  </div>
</form>
<div class="row mt-3 text-right">

  <button class="btn btn-danger ml-auto mt-3" (click)="cancelar()">
    Cancelar
  </button>
  <button (click)="submitFormulario($event.target)" class="btn btn-primary ml-2 mt-3"
    [disabled]="controles.conceptos.value.length <= 0">
    Agregar Comprobante
  </button>
</div>


<app-modal-agregar-anexo (onListarAnexo)="setCountAnexos($event)" [uuid]="controles.uuid.value"
  [identificador_corporativo]="usuario.identificador_corporativo">
</app-modal-agregar-anexo>
