<div class="row">
  <div class="col-md-123">
    <div class="panel panel-inverse" data-sortable-id="form-stuff-11">
      <div class="panel-body">
        <form [formGroup]="formulario_proveedor_rci">
          <fieldset>
            <legend class="p-b-15" style="font-size:1rem">{{titulo}}</legend>
            <div class="form-row">

              <div class=" col-md-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="proveedor.nombre" maxlength="255" name="nombre"
                  id="nombre" formControlName="nombre" readonly />
              </div>
              <div class=" col-md-3">
                <label for="numero_proveedor">Número</label>
                <input type="text" class="form-control" [(ngModel)]="proveedor.numero_proveedor" maxlength="255"
                  name="numero_proveedor" id="numero_proveedor" formControlName="numero_proveedor" readonly />
              </div>
              <div class=" col-md-3">
                <label for="rfc">RFC</label>
                <input type="text" class="form-control" [(ngModel)]="proveedor.rfc" maxlength="255" name="rfc" id="rfc"
                  formControlName="rfc" readonly />
              </div>
              <div class=" col-md-3">
                <label for="correo">Correo</label>
                <input type="text" class="form-control" [(ngModel)]="proveedor.correo" maxlength="255" name="correo"
                  id="correo" formControlName="correo" oninput="this.value = this.value.toLowerCase()" readonly />
              </div>
              <div class=" col-md-3">
                <label for="sitio">Sitio</label>
                <input type="text" class="form-control" [(ngModel)]="proveedor.sitio" maxlength="255" name="sitio"
                  id="sitio" formControlName="sitio" readonly />
              </div>
              <div class=" col-md-3">
                <label for="moneda">Moneda</label>
                <input type="text" class="form-control" [(ngModel)]="proveedor.moneda" maxlength="10" name="moneda"
                  id="moneda" formControlName="moneda" readonly />
              </div>
              <div class="col-md-3 pt-2 mb-6">
                <div class="switcher p-t-10">
                  <input class="form-control" type="checkbox" id="estatus" name="estatus" [checked]="proveedor.estatus "
                    [(ngModel)]="proveedor.estatus" formControlName="estatus">
                  <label for="estatus">Estatus</label>
                </div>
              </div>

            </div>

            <div class="form-group row">
              <div class=" col-sm-12 text-right">
                <a id="cancelarProveedor" routerLink="/home/proveedores/" class="btn btn-sm btn-danger">Cancelar</a>
                <button id="actualizarProveedor" class="btn btn-sm btn-primary m-r-5 " style="margin-left: 10px;"
                  (click)="actualizarProveedor();" [disabled]='!formulario_proveedor_rci.valid'
                  [innerHTML]="txtBtnAgregar"></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
