.panel-body {
  width: 100% !important;
  max-width: 100% !important;
}

#tabla_rci {
  width: 100% !important;
  max-width: 100% !important;
}

/* .dataTables_scrollHeadInner{
   width:100% !important;
   padding-right: 0px;
   }

.dataTables_scrollHeadInner table{
   width:100% !important;
   padding-right: 0px;
  } */
