<!-- Modal -->
<div class="modal fade" id="modal_aviso_pp" tabindex="-1" role="dialog" aria-labelledby="ressetPassword"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Aviso</h5>
      </div>
      <div class="modal-body">
        Melia Hotels International se preocupa por el bienestar financiero de sus aliados estratégicos.
        Por lo mismo, te invita a participar en la convocatoria sobre Descuento por Pronto Pago,
        donde podrás cobrar de forma fácil y rápida las facturas que selecciones a cambio de un pequeño descuento. <br>
        Para más información, favor de ingresar al Portal de Proveedores Facto Valid Meliá al módulo de Descuentos
        Pronto Pago. <br>
        ¡Date prisa y aprovecha esta gran oportunidad!
      </div>
      <div class="modal-footer">
        <button id="btn_aceptar" type="button" data-dismiss="modal" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>