<div id="modal_comprobante" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <!-- <app-form-comprobacion-header [usuario]="usuario" [comprobacion_header]="comprobacion_header">
        </app-form-comprobacion-header> -->
      </div>

      <div class="table-responsive card p-3 sombreado container-sm container-md container-lg container-xl">
        <table
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody w-100">
          <thead>
            <tr>
              <th></th>
              <th>Estatus</th>
              <th>Fecha</th>
              <th>Forma de PAgo</th>
              <th>Razon social</th>
              <th>Moneda</th>
              <th>Monto Reembolsar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <button (click)="estate = !estate"></button> </td>
              <td>Estatus</td>
              <td>Fecha</td>
              <td>Forma de PAgo</td>
              <td>Razon social</td>
              <td>Moneda</td>
              <td>Monto Reembolsar</td>
            </tr>
            <tr [ngStyle]="{'display': estate? 'contents' : 'none'}">
              <td colspan="7">
                <div>
                  <table
                    class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody w-100">
                    <caption style="display: hide;"></caption>
                    <thead>
                      <tr>
                        <th scope=""></th>
                        <th scope="">Estatus</th>
                        <th scope="">Fecha</th>
                        <th scope="">Forma de PAgo</th>
                        <th scope="">Razon social</th>
                        <th scope="">Moneda</th>
                        <th scope="">Monto Reembolsar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td>Estatus</td>
                        <td>Fecha</td>
                        <td>Forma de PAgo</td>
                        <td>Razon social</td>
                        <td>Moneda</td>
                        <td>Monto Reembolsar</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
