<div id="modal_comprobante" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-height: 76vh;overflow: auto;">
    <div class="modal-content">
      <div class="row">
        <app-form-comprobacion-header #comprobacionHeader [numero_comprobacion]='numero_comprobacion'
          [comprobacion_header]="comprobacion_header" [usuario]="usuario" [title]="''">
        </app-form-comprobacion-header>
      </div>
      <div class="row">
        <div class="table-responsive card p-3 sombreado container-sm container-md container-lg container-xl">
          <table class="row-border hover table table-striped table-bordered  table-fixed w-100">
            <thead>
              <tr>
                <th scope=""> </th>
                <th scope=""> Estatus</th>
                <th scope=""> Fecha</th>
                <th scope=""> Forma de Pago</th>
                <th scope=""> Razon social</th>
                <th scope=""> Moneda</th>
                <th scope=""> Monto Reembolsar</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of lista_comprobantes; let i = index">
                <tr>
                  <td> <button class="btn btn-sm btn-primary-outline" (click)="setExpand(i)">
                      <ng-container *ngIf="selected_index == i; else hideIcon">
                        <em class="fas fa-minus-circle"></em>
                      </ng-container>
                      <ng-template #hideIcon>
                        <em class="fas fa-plus-circle"></em>
                      </ng-template>
                    </button> </td>
                  <td>{{ item.estatus }}</td>
                  <td> {{ item.fecha_comprobante | date: 'yyyy-MM-dd' }} </td>
                  <td> {{ item.forma_pago }} </td>
                  <td> {{ item.razon_social }} </td>
                  <td> {{ item.moneda }} </td>

                  <td>{{ item.monto_reembolsar | currency: '$' }}</td>
                </tr>
                <ng-container>
                  <tr [ngStyle]="{'display': selected_index == i? 'contents' : 'none'}">
                    <td colspan="7">
                      <app-rowchild-comprobante [visible]="selected_index == i" [comprobante]="item"
                        [lista_cuentas]="lista_cuentas">
                      </app-rowchild-comprobante>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <div class="btn mx-1 btn-danger" (click)="toggleModal()"> Cerrar </div>
          <div class="btn mx-1 btn-primary" (click)="continuarComprobacion()"> Continuar </div>
        </div>
      </div>
    </div>
  </div>
</div>
