<div id="" class=" fondo d-flex justify-content-center align-items-center" style="height: 100% !Important">
  <div class="form-password col-md-4 col-sm-12 mx-auto">
    <form [formGroup]="formulario">
      <div *ngIf="!mostrar_mensaje" class="alert mt-2 alert-info" role="alert">
        Ingresar nueva contraseña. <br>
        La contraseña debe incluir por lo menos, una letra minúscula, una letra mayúscula, un número, y un carácter
        especial.
      </div>
      <div *ngIf="mostrar_mensaje" class="alert mt-2 alert-info" role="alert">
        {{ mensaje }}
      </div>
      <div class="form-group">
        <label for="password">Correo<span class="text-danger">*</span> : </label>
        <input [readOnly]="disabled_aceptar" type="email" formControlName="email" [(ngModel)]="datos.email"
          class="form-control" id="email" placeholder="ejemplo@correo.com">
      </div>
      <div
        *ngIf="formulario.get('email').value === '' && !formulario.get('email').valid && formulario.get('email').touched">
        <small class="text-danger">
          Campo requerido.
        </small>
      </div>
      <div
        *ngIf="formulario.get('email').value !== '' && !formulario.get('email').valid && formulario.get('email').touched">
        <small class="text-danger">
          El formato de correo no es válido.
        </small>
      </div>
      <div class="form-group">
        <label for="password">Contraseña<span class="text-danger">*</span> : </label>
        <input [readOnly]="disabled_aceptar" type="password" formControlName="password" [(ngModel)]="datos.newPassword"
          class="form-control" id="password" placeholder="******">
      </div>
      <div
        *ngIf="formulario.get('password').value === '' && !formulario.get('password').valid && formulario.get('password').touched">
        <small class="text-danger">
          Campo requerido.
        </small>
      </div>
      <div
        *ngIf="formulario.get('password').value !== '' && !formulario.get('password').valid && formulario.get('password').touched">
        <small class="text-danger">
          La contraseña no cumple los requisitos minimos de seguridad.
        </small>
      </div>
      <div class="form-group">
        <label for="password2">Repetir Contraseña <span class="text-danger">*</span>: </label>
        <input [readOnly]="disabled_aceptar" type="password" class="form-control" formControlName="password2"
          id="password2" placeholder="*****">
      </div>
      <div
        *ngIf="formulario.get('password2').value !== '' && formulario.get('password2').value !== formulario.get('password').value && formulario.get('password2').touched">
        <small class="text-danger">
          Las contraseñas no coiniciden.
        </small>
      </div>
      <button [disabled]="!formulario.valid || disabled_aceptar" (click)="actualizar()" type="submit"
        class="btn btn-primary ml-auto float-right" [innerHTML]="text_aceptar">Aceptar</button>
    </form>
  </div>
</div>