<div class="modal fade bd-example-modal-lg" id="modal_detalles" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title p-b-15" id="ModalLabel"> {{ titulo }} </h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="false ; else tabla">
          <div class="alert alert-warning" role="alert">
            No se encontraton datos para mostrar.
          </div>
        </ng-container>
        <ng-template #tabla>
          <table class="table table-hover" id="productos">
            <thead>
              <tr>
                <th scope="col">Concepto</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lista_conceptos">
                <td scope="col"> {{item.descripcion}} </td>
                <td scope="col"> {{item.descripcion_cuenta}} </td>
                <td scope="col"> {{item.subtotal | currency:'$'}} </td>
                <td scope="col"> {{item.total | currency:'$'}} </td>
              </tr>
            </tbody>
          </table>
        </ng-template>

      </div>
      <div class="modal-footer">
        <button id="cerra_modal" type="button" class="btn btn-danger" (click)="modalClose()">Cerrar</button>
      </div>
    </div>
  </div>
</div>