<div class="row">
  <div class="col-md-12">
    <div class="panel panel-inverse" data-sortable-id="form-stuff-11">
      <div class="panel-body">
        <form [formGroup]="formulario_modulo">
          <fieldset>
            <legend class="p-b-15" style="font-size:1rem">
              {{ accion_modulo }} Módulo
            </legend>
            <div class="form-row">
              <div class=" col-md-3">
                <label for="nombre">Nombre <span class="requerido">*</span></label>
                <input placeholder="Nombre" type="text" class="form-control" [(ngModel)]="modulo.nombre" maxlength="30"
                  name="cuenta" id="nombre" formControlName="nombre" />
                <div *ngIf="
                    formulario_modulo.get('nombre').status == 'INVALID' &&
                    formulario_modulo.get('nombre').touched == true
                  " class="text-danger">
                  <small>Campo Requerido</small>
                </div>
              </div>
              <div class=" col-md-3">
                <label for="icono">Icono <span class="requerido">*</span>
                </label>
                <input placeholder="Icono" type="text" class="form-control" maxlength="15" name="icono"
                  [(ngModel)]="modulo.icono" id="icono" formControlName="icono" />
                <div *ngIf="
                    formulario_modulo.get('icono').status == 'INVALID' &&
                    formulario_modulo.get('icono').touched == true
                  " class="text-danger">
                  <small>Campo Requerido</small>
                </div>
              </div>
              <div class="col-md-3">
                <label for="categoria">
                  Categoria <span class="requerido">*</span>
                </label>
                <select2 [data]="lista_categoria" [value]="startValue_categoria"
                  [options]="{ placeholder: 'Seleccione una Categoría'}" (valueChanged)="actualizarCategoria($event)"
                  name="categoria" id="categoria">
                </select2>
              </div>
              <div class="col-md-1">
                <div class="switcher p-t-10">
                  <input type="checkbox" formControlName="activo" id="activo" name="activo"
                    [(ngModel)]="modulo.activo" />
                  <label for="activo">Estatus</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class=" col-sm-12 text-right">
                <a id="cancelarModulo" routerLink="/home/modulo/" class="btn btn-sm btn-danger">Cancelar</a>
                <button id="actualizarModulo" class="btn btn-sm btn-primary m-r-5" style="margin-left: 10px;"
                  (click)="onSubmit()" [disabled]='!formulario_modulo.valid 
                  || modulo.categoria_id == 0 ' [innerHTML]="txtBtnAgregar"></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>