<!-- Modal -->
<div class="modal fade" id="modal_resset_pass" tabindex="-1" role="dialog" aria-labelledby="ressetPassword"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar Contraseña</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario_resset_pass">
          <div *ngIf="resset_password" class="alert alert-warning" role="alert">
            Para poder continuar es necesario que actualice su contraseña.
          </div>
          <div class="form-group">
            <label for="pass_lbl">Contraseña<span class="text-danger">*</span></label>
            <input type="password" [(ngModel)]="resset_pass.password" name="new_pass" autocomplete="new_pass"
              formControlName="contrasena" class="form-control" id="in_contrasena" placeholder="*********">
            <div *ngIf="
                        formulario_resset_pass.get('contrasena').status == 'INVALID' &&
                        formulario_resset_pass.get('contrasena').touched == true &&
                        (formulario_resset_pass.get('contrasena').value == '' ||
                          formulario_resset_pass.get('contrasena').value == null)
                      " class="text-danger ">
              <small>Campo Requerido</small>
            </div>
            <div *ngIf="
                        formulario_resset_pass.get('contrasena').status == 'INVALID' &&
                        formulario_resset_pass.get('contrasena').touched &&
                        formulario_resset_pass.get('contrasena').value != '' &&
                        formulario_resset_pass.get('contrasena').value != null
                      " class="text-danger ">
              <small>Formato de contraseña Incorrecto.
                <br />La contraseña debe contener al menos una mayúscula, un carácter especial y un número.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="pass_2_lbl">Confirmar Contraseña<span class="text-danger">*</span></label>
            <input type="password" formControlName="password_conf" class="form-control" id="in_confirmar_pass"
              autocomplete="in_confirmar_pass" placeholder="*********">
            <div *ngIf="
              formulario_resset_pass.get('password_conf').touched == true &&
              formulario_resset_pass.get('contrasena').touched == true &&
              formulario_resset_pass.get('contrasena').value !==
                formulario_resset_pass.get('password_conf').value
            " class="text-danger ">
              <small>Las Contraseñas no Coinciden</small>
            </div>
          </div>
          <div *ngIf="mostrar_correcto_reset" class="alert alert-success" role="alert">
            {{ mensaje_alerta }}
            <br>
            Utilice su nueva contraseña la próxima vez que inicie sesión.
          </div>
          <div *ngIf="mostrar_error_reset" class="alert alert-danger " role="alert">
            {{ mensaje_alerta }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn_cancelar" *ngIf="!resset_password" type="button" [disabled]="txtBtnAgregar != 'Aceptar'"
          class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button id="btn_aceptar" [disabled]="!formulario_resset_pass.valid ||
        formulario_resset_pass.get('contrasena').value !==
                formulario_resset_pass.get('password_conf').value
        || txtBtnAgregar != 'Aceptar' || password_cambiado" type="button" class="btn btn-primary"
          (click)="ressetPassword()" [innerHTML]="txtBtnAgregar"></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Olvidaste password -->
<div class="modal fade" id="modal_recuperar_pass" tabindex="-1" role="dialog" aria-labelledby="ressetPassword"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Recuperar Contraseña</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario_recuperar_pass">
          <div class="form-group">
            <label for="rfc_lbl">RFC<span class="text-danger">*</span> </label>
            <input type="text" [(ngModel)]="recuperar_password.rfc" formControlName="rfc" class="form-control"
              oninput="this.value = this.value.toUpperCase()" id="in_email" maxlength="13" minlength="12"
              aria-describedby="emailHelp" placeholder="XAXX010101000">
            <div
              *ngIf="formulario_recuperar_pass.get('rfc').status == 'INVALID' && formulario_recuperar_pass.get('rfc').touched == true"
              class="text-danger">
              <small>Campo Requerido</small>
            </div>
          </div>
          <div class="form-group">
            <label for="pass_2_lbl">Correo<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="recuperar_password.email" formControlName="correo" class="form-control"
              id="in_correo" placeholder="ejemplo@correo.com">
            <!-- oninput="this.value = this.value.toLowerCase()" -->
            <div *ngIf="
              formulario_recuperar_pass.get('correo').status == 'INVALID' &&
              formulario_recuperar_pass.get('correo').touched == true &&
              (formulario_recuperar_pass.get('correo').value == '' ||
                formulario_recuperar_pass.get('correo').value == null)
            " class="text-danger ">
              <small>Campo Requerido</small>
            </div>
            <div *ngIf="
                    formulario_recuperar_pass.get('correo').status == 'INVALID' &&
                    formulario_recuperar_pass.get('correo').touched == true &&
                    formulario_recuperar_pass.get('correo').value != '' &&
                    formulario_recuperar_pass.get('correo').value != null
                  " class="text-danger ">
              <small>Formato del correo inválido</small>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="mostrar_correcto" class="alert alert-success mx-3" role="alert">
        {{ mensaje_alerta }}
      </div>
      <div *ngIf="mostrar_error" class="alert alert-danger mx-3" role="alert">
        {{ mensaje_alerta }}
      </div>
      <div class="modal-footer">
        <button id="btn_cancelar" [disabled]="txtBtnAgregar != 'Aceptar'" *ngIf="!resset_password" type="button"
          class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button id="btn_aceptar"
          [disabled]="!formulario_recuperar_pass.valid || txtBtnAgregar != 'Aceptar' || password_recuperado"
          type="button" class="btn btn-primary" [disabled]="disabled_aceptar" (click)="recuperarPassword()"
          [innerHTML]="txtBtnAgregar"></button>
      </div>
    </div>
  </div>
</div>