<div class="row">
  <div class="col-md-2" style="padding-bottom: 2em;">
    <a id="agregarDepartamento" routerLink="/home/departamento/add" class="btn btn-primary"
      *ngIf="globals.menuDinamico.gestion_Departamentos_Add">Agregar
      Departamento</a>
  </div>
  <div *ngIf="globals.menuDinamico.admin_next" class="form-group col-md-4 ">
    <!-- <label>Seleccione un Corporativo</label> -->
    <select2 [data]="globals.lista_corporativos" [options]="{placeholder: 'Seleccione un corporativo'}"
      (valueChanged)="ActualizaCorporativo($event)" id="selec2_corporativo"> </select2>
  </div>



</div>
<div class="row">
  <!-- begin col-2 -->
  <!-- end col-2 -->
  <!-- begin col-10 -->
  <div class="col-lg-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <!-- begin panel-heading -->
      <div class="panel-heading">
        <h4 class="panel-title">Lista - Departamentos</h4>
      </div>
      <!-- end panel-heading -->
      <!-- begin panel-body -->
      <div class="panel-body table-responsive">
        <table id="tabla_departamentos"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody"
          width="100%" style="max-width: 100%; ">
          <thead>
            <tr>
              <th>Clave </th>
              <th>Departamento</th>
              <th>Estatus</th>
              <!-- <th>Fecha Creación</th> -->
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeU" *ngFor="let departamento of listaDepartamentos"
              [ngClass]="{'text-danger':departamento.activo == '0'}">
              <td>{{departamento.clave_departamento}}</td>
              <td>{{departamento.descripcion}}</td>
              <td>{{departamento.activo == 1 ? 'Activo' : 'Inactivo'}}</td>
              <!-- <td>{{departamento.record_date | date:'yyyy-MMM-dd'}}</td> -->
              <td><a class="btn btn-primary text-white editar-departamento"
                  (click)="editarDepartamento(departamento.identificador)"
                  *ngIf="globals.menuDinamico.gestion_Departamentos_Edit">Editar</a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->
</div>
<!-- end row -->