.campo {
    font-size: 1em;
    margin: 1px;
}
.campo:hover {
    background-color: #f23126;
    cursor: pointer;
}

.span-container {
    height: auto !important;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}