html,body {
    height:100%;
}
#contenedor {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
}
#loading{
    margin-left: -50px;
    position:relative;
  }
  #loading span{
      display:block;
      bottom:0px;
      width: 9px;
      height: 5px;
      background:#2484C6;
      position:absolute;
      animation: loading 1.5s  infinite ease-in-out;
  }
   
  #loading span:nth-child(2){
  left:11px;
  animation-delay: .2s;
   
  }
  #loading span:nth-child(3){
  left:22px;
  animation-delay: .4s;
  }
  #loading span:nth-child(4){
  left:33px;
  animation-delay: .6s;
  }
  #loading span:nth-child(5){
  left:44px;
  animation-delay: .8s;
  }
  @keyframes loading {
      25% {height:30px;transform:translateY(15px);background:#2484C6;}
      50% {height:5px;transform:translateY(0px);background:#060F3F;}
      100% {height:5px;transform:translateY(0px);background:#24D0C6 ;}
  }

  .config {
      background-color:#2484C6 !important;
  } 
  #img_background {
      /* height: 100%;
      min-height: 500px; */
      margin: 0 auto;
      text-align:center;
      width: 100%;
  }