<app-filtro-comprobacion-gv (filtrar)="filtrar($event)" [is_flujo_aprobacion]="true"></app-filtro-comprobacion-gv>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista de Comprobaciones</h4>
      </div>
      <div class="panel-body  table-responsive">
        <table #datatableElement id="tabla_comprobaciones" datatable [dtOptions]="globals.dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody w-100"
          style="width: 100%  !important; max-width: 100% !important;">
          <caption></caption>
          <thead>
            <tr>
              <th *ngFor="let colum of columns" scope="">{{ colum.text }}</th>
            </tr>
          </thead>

          <tbody>
            <tr class="gradeU" *ngFor="let item of lista_comprobantes">
              <ng-container *ngFor="let node of columns">
                <td [ngSwitch]="node.type">
                  <ng-container *ngSwitchCase="'text'">
                <td> {{ item[node.resp_node] }} </td>
              </ng-container>
              <ng-container *ngSwitchCase="false">
                <!-- <td> {{ item[node.resp_node] | currency: '$' }} </td> -->
              </ng-container>
              <ng-container *ngSwitchDefault>

              </ng-container>
              </td>
              </ng-container>
              <td>
                <button class=" btn btn-primary btn-sm" (click)="editarBorrador(item)"> <em class="fa fas-eye"
                    (click)="editarBorrador(item)"></em> Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
