<div class="modal fade" id="modal-detalles-aprobacion" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" style="width: 100%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title p-b-15" id="ModalLabel">Aprobación </h4>
      </div>
      <div class="modal-body">
        <table id="tabla_documentos table-responsive"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody"
          width="100%" style="max-width: 100%; ">
          <thead>
            <tr>
              <th scope=""> Aprobador </th>
              <th scope=""> Estatus </th>
              <th scope=""> Comentario </th>
              <th scope=""> Fecha Aprobación </th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <tr *ngFor="let detalle of detalleAprobacion">
              <td> {{ detalle.aprobador }} </td>
              <td> {{ detalle.estatus }} </td>
              <td> {{ detalle.comentario }} </td>
              <td> {{ detalle.fecha_aprobacion | date: 'yyyy-MM-dd' }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button id="cerra_modal" type="button" class="btn btn-danger" (click)="modalCloseAprobacion()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
