<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Lista - Documentos</h4>
      </div>

      <div class="panel-body table-responsive">
        <table id="tabla_documentos" datatable #DataTableDirective [dtOptions]="dtOptions"
          class="row-border hover table table-striped table-bordered table-hover table-fixed dataTables_scrollBody"
          width="100%" style="max-width: 100%; ">
          <caption></caption>
        </table>
      </div>

    </div>

  </div>

</div>

<app-detalle-complementos [documento_cfdi]="documento_seleccionado" [documentos_anexos]="documentos_anexos"
  [identificador_corporativo]="identificador_corporativo" [complementos_pago]="complementos_pago"
  [documentos_relacionados]="documentos_relacionados" [lista_comprobantes]='lista_comprobantes'>
</app-detalle-complementos>


<app-modal-acutalizar-documento id="modal" titulo="Actualizar Archivo" [documento_cfdi]="documento_seleccionado"
  [identificador_corporativo]="identificador_corporativo" (onDatoActualizado)="actualizarTabla()">
</app-modal-acutalizar-documento>

<app-modal-detalles-aprobacion *ngIf="lista_detalle_aprobacion" [detalleAprobacion]="lista_detalle_aprobacion">
</app-modal-detalles-aprobacion>
<app-visor-factura [CFDI]="detalles_factura"></app-visor-factura>
