<div class="modal fade " id="modal_adicionales" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"
  style="max-width:100%;">
  <div class=" modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title p-b-15" id="ModalLabel">Detalle de Adicional </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-inverse">
              <div class="panel-heading">
                <h4 class="panel-title">Adicional</h4>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
